head
  title lemon

body
  h1 Welcome to Meteor!
  +hello

template(name="hello")
  button Click Me
  p You've pressed the button {{counter}} times.
  each avatarImages
    img(src="{{this.url}}")

  input.uploader(type="file")
  | hi
