@require '../lib.import.styl'

grid-left-border-width = 5px
.lemon-grid
  width 100%
  td
    position relative
    padding 5px 0
    &:first-child
      padding-left 10px
      border-left solid grid-left-border-width orange
    &:last-child
      padding-right 10px
    .summary-total
      padding-bottom 25px
    &.has-commands .commands
      float right
      .btn
        margin-right 5px;
    &.old-debt-total
      padding-right 25px
    .note
      font-style italic; color #666666
    .super
      absolute top -4px
  tr.detail-row:hover
    background-color #C9EAFF !important
  tr.header-row
    border-bottom dashed 1px #B0B0B0
    td
      position relative
      .bill-header
        absolute top 0 left 0
        background-color orange; color #FFFFFF
        padding-right 5px
      .commands
        float right
        .btn
          margin-left 5px
  tr.detail-row
    background-color #F7F7F7
    &:nth-child(odd)
      background-color #FFFFFF
    &:not(:first-child)
      border-top dashed 1px #eeeeee
    td:first-child
      padding-left 5px
      border-left solid grid-left-border-width #7ac5f9
    &.errors .error-field
      color pumpkin !important

  tr.summary-row
    border-top dashed 1px #C8C8C8 !important
    margin-bottom 20px
    .blured-color
      color #999999
  tr.group-summary-row td:first-child
    border-left none

  tr.paid-row
    background-color lighten(lime, 50)
    &.top
      border-top dashed 1px lime
    td:first-child
      border-left solid grid-left-border-width lime
    .receive
      color lime
    .paid
      color pumpkin
  tr.paid-row.paid
    background-color lighten(pumpkin, 55)
    &.top
      border-top dashed 1px pumpkin
    td:first-child
      border-left solid grid-left-border-width pumpkin

  tr.top-header-row
    border-bottom dashed 1px #dddddd
  td.number, th.number
    text-align right
    input
      text-align right
  tr.editors
    border-top solid 1px #7ac5f9
    td:first-child
      border-left none
    &.dual-border
      border-bottom solid 1px #7ac5f9
    input
      font-style italic; font-weight bolder
      color #7ac5f9
    &.errors
      border-top solid 1px pumpkin
      &.dual-border
        border-bottom solid 1px pumpkin
      .error-field
        color pumpkin !important
  input
    border none; outline none; width 100%
    &.number
      float right
      text-align right

.lemon-grid.safe
  tr.header-row td .bill-header
    background-color lime

.panel-body .lemon-grid
  th:first-child
    padding-left 5px
  th:last-child
    padding-right 5px

.note
  font-style italic; color #666666