template(name="homeFooter")
  .home-wrapper
    .footer-content.row
      .col-md-4
        h3.icon-location-1 {{i18n 'home.contact'}}
        .details
          span.icon-flag-circled {{i18n 'home.address'}} <br/>
          span.icon-mail-circled thienban@gmail.com <br/>
          span.icon-phone-circled +84 838-<b>111</b>-766 <br/>
          span.icon-skype thienban.eds
      .col-md-5.comment-section
        h3.icon-chat-5 {{i18n 'comment'}}
        .details
          +merchantTestimonials
      .col-md-3
        h3.icon-award {{i18n 'home.award'}}
        .details {{i18n 'commingSoon'}}

  .home-wrapper
    .sub-footer {{i18n 'home.copyWriting'}}