@import "../../styles/lib.import.styl"

.editor-wrapper
  .bootstrap-touchspin
    .input-group-addon, .bootstrap-touchspin-up, .bootstrap-touchspin-down
      margin-bottom 0
      margin-top 0
      padding 4px 10px
      border-color #DFDFDF
    .bootstrap-touchspin-up
      padding 4px !important
      margin-left -1px !important
      border-color #DFDFDF
      border-left-color transparent
      border-radius left 0
    .bootstrap-touchspin-down
      padding 4px !important
      margin-right -2px !important
      border-right-color transparent
      border-radius right 0
    input
      height 30px
      text-align right
      border-radius 0
      padding 4px 2px