@require '../lib.import.styl'

/*.printable-area*/
  /*.printing-header*/
    /*width 100%*/
  /*.printing-content*/
    /*width 100%*/
  /*.printing-footer*/
    /*width 100%*/



.printing-header
  clearfix()
  position relative
  height 80px
  border-bottom dashed 1px #666666
  .branding
    absolute right 10px bottom 5px
    .company-name
      text-align right
      font-size 30px
      text-transform uppercase
    .company-address
      text-align right
  .info
    absolute bottom 5px
    color #666666
    float left

.printing-info
  padding-top 25px
  .document-name
    font-size 30px; font-weight lighter
    text-align center

.bill-info
  clearfix()
  .seller-info
    float left
  .buyer-info
    float right