@require '../lib.import.styl'

.show-on-print
  display none

print-mode()
  :not(.printable-area) *
    visibility hidden !important
    padding 0 !important; margin 0 !important
  input
    placeholder #ffffff
    &.editable.dashed
      border-bottom none
  .note
    color #666666
  .printable-area, .printable-area *
    visibility visible !important
  .commands, .commands *:before
    visibility hidden !important
  .lemon-grid
    td:first-child
      border-left none !important
    .editors
      border-top none !important
      border-bottom dashed 1px #eee !important
      input
        font-style normal !important; font-weight normal !important
  .panel .panel-body
    border-top none !important
  .hide-on-print
    display none
  body
    font-size 20px
  #container
    padding-right 0 !important
    height 100% !important
  .application
    margin-right 0 !important
    height 100% !important
  .dual-detail
    margin-left 0 !important

  .printable-area
    absolute left 0 top 0
    width 100%; height 100%
    margin 0 !important

  .show-on-print
    display block
  .printing-header
    padding-bottom 15px !important
  .printing-info
    padding-top 20px !important
    padding-bottom 20px !important

  .nano
    position inherit
    width auto; height auto
    overflow auto
    .nano-content
      position inherit
      overflow auto
      overflow-x auto

@media print
  print-mode()
html.print-mode
  print-mode()