template(name="roleDetailThumbnail")
  .col
    .thumbnails(class="{{styles}}")
      +avatarImageComponent(avatar=avatarUrl alias=fullName)
      .right-caption {{email}}
      .full-desc.price {{permissionDesc}}
      if allowDelete
        .full-desc.trash: a(href="#"): i.icon-bag