template(name="merchantPrintingHeader")
   .branding
      span.company-name {{name}}
   .info
      span ({{phone}}), {{address}}
      span <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>