template(name="merchantPrintingHeader")
   .printing-header
      .branding
         .company-name {{merchantInfo.companyName}}
         .company-address {{merchantInfo.contactAddress}}
      .info
         span.icon-phone-circled {{merchantInfo.contactPhone}} <br/>
         span <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>