template(name="merchantTest")
  #header
    .caption-row: .title TEST PAGE

  #content
    .segments-container.size3
      .segments-column
        h1 col1
      .segments-column
        h1 col2
      .segments-column
        h1 col3