template(name="geraProductManagementUnitEditor")
  tr.editors.dual-border
    td.has-commands
      input(name="unit" placeholder="đơn vị tính" value="{{unit}}")
      .commands
        if allowDelete
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.delete-unit: span.icon-minus-4
    td: input(name="barcode" placeholder="mã vạch" value="{{productCode}}")
    td: input(name="conversionQuality" placeholder="qui đổi" min="0")
    //td: input(name="importPrice" placeholder="giá nhập" min="0")
    //td: input(name="price" placeholder="giá bán" min="0")