template(name="distributorManagementNavigationPartial")
   li.blue.teleport.inav.icon-download-outline.animated.fadeInUp.distributorToImport nhập kho
   li.blue.teleport.inav.icon-reply-outline.animated.fadeInUp.distributorToReturns trả hàng