template(name="merchantLayout")
  +watermark
  .application(class="{{collapse}} {{homeClass}}")
    +navigation
    +sidebar
    #container
      +yield

  .unsupported-resolution
    span HIỆN NAY HỆ THỐNG EDS CHƯA HỖ TRỢ MÀN HÌNH NHỎ! <br />
    span BẠN CẦN CHẠY EDS TRÊN ĐỘ PHÂN GIẢI LỚN HƠN

template(name="watermark")
  .watermark THIEN BAN