@import 'rupture'
@import "../../../styles/lib.import.styl"

.application, nav.main
  /*min-width application-min-width*/
  +below(application-min-width)
    display none

.unsupported-resolution
  +above(application-min-width)
    display none
  font-size 30px
  text-align center
  margin-top 30px
  color #999999

.watermark
  color #EEEEEE; font-size 121px
  absolute top 160px left 50%
  width 1040px; margin-left -565px
  text-align center
  z-index -999

#content-wrapper
  padding-top 40px

html { height: 100%; }
body { height: 100%; background-color: #e7ebee; overflow: hidden; }