.editable
  border none
  border-bottom dashed 1px #F9AA51
  outline none
  transition width 0.3s
  &.single-line
    white-space nowrap
    *
      display inline
      white-space nowrap
    br
      display none