@import "../../../../styles/lib.import.styl"
@import 'jeet'
package-theme(color)
  .title
    background-color darken(color, 5)
  .content, .footer
    background-color color
  .features li .command
    background-color color

.merchant-wizard-wrapper
  min-height 100%
  overflow-x scroll
  clearfix()
  background-color #4ea9de
  transition background-color 15s

#wizardContent
  .col { padding-left: 2px; padding-right: 2px; }

.price-table-group
  padding 0 12px
  .package-block
    cursor pointer
    border-radius 3px
    overflow hidden
    .title { background: #78CFBF; }

    .title, .footer
      color #FEFEFE
      text-transform capitalize
      line-height 2.5
      position relative
      text-align center

    .content
      position: relative
      color #FEFEFE
      padding 20px 0 10px 0
      background #82DACA
      text-align center
      font-weight lighter

      .active-icon
        font-size 60px
        absolute right 0px top -50px
      .price
        position relative
        display inline-block
        margin-bottom 0.625rem
        sup
          font-size 14px
          absolute top 12px left -20px

        span
          font-size 50px
        sub
          font-size 20px; width 95px
          absolute right -31px bottom 0px

      .hint
        font-style: italic;
        font-size: 13px;

    .features
      list-style-type none
      background #F5F5F5
      text-align left
      color #9C9C9C
      padding 30px 0

      li
        position relative
        padding 10px 40px
        width 100%
        border-top: solid 1px #EEEEEE
        &:before { margin-right: 10px; font-size: 25px; }
        &:first-child { border-top: none; }
        span.quality
          font-size 18px
          font-weight bolder
        .command
          cursor pointer
          absolute top 10px
          padding 5px
          color #ffffff
          background-color #666666
          border-radius 50%
          &:hover
            box-shadow 0px 0px 0px 3px rgba(0, 0, 0, 0.1)
          &.lower
            left 3px
          &.raise
            right 3px

    .footer
      clearfix()
      background #82DACA

.merchant-wizard-instructions
  text-align center
  font-size 20px
  margin-top 40px
  margin-bottom 20px
  color #ffffff
  span.caption
    font-size 30px
  span.description
    font-weight lighter

table.wizard-price-addon
  margin 20px auto
  width 95%
  font-size 20px
  color #ffffff
  font-weight lighter
  td.bold-font
    font-weight bolder
  td.bottom-dash
    border-bottom solid 1px #ffffff

.merchant-wizard-fields
  clearfix()
  width 100%
  margin 10px 0 20px 0
  .editor-wrapper
    column(1/4, gutter: .05)
    input[type=text]
      width 100%
      transition box-shadow 0.5s
      &:focus
        box-shadow 0px 0px 0px 2px rgba(0, 0, 0, 0.1)
      font-size 14px
      color #585858; background #fff
      padding 8px 16px 8px 14px
      border none
      border-radius 2px
      placeholder #8D8D8D

.finish-register.btn, .register-logout.btn
  float right
  margin-right 28px
  margin-top 20px
  font-size 30px
  color #ffffff
  border-radius 3px
  border solid 1px #ffffff
  transition box-shadow 1s
  &:hover, &.valid
    box-shadow 0 0 15px

.package-block.free
  package-theme(lighten(#26bdef, 10))
  .content { padding: 1px 0; }
  .price > span { font-size: 70px !important; }

.package-block.basic
  package-theme(lighten(amethyst, 10))

.package-block.premium
  package-theme(lighten(lime, 20))

.package-block.advance
  package-theme(lighten(carrot, 10))