placeholder($color = #999)
  &::-moz-placeholder
    color $color
    opacity 1
  &:-ms-input-placeholder
    color $color
  &::-webkit-input-placeholder
    color $color

$rotate($degrees)
  -webkit-transform rotate($degrees)
  -ms-transform rotate($degrees)
  -o-transform rotate($degrees)
  transform rotate($degrees)

$box-shadow(shadow)
  -webkit-box-shadow shadow
  -moz-box-shadow shadow
  box-shadow shadow

$noise-material(material='light')
  background-image: url("/images/" + material + "-noise.png");

