home-theme = #26bdef
left-pane-size = 80px
left-pane-collapse-size = 0
left-pane-after-collapse-size = left-pane-size - left-pane-collapse-size
left-pane-background-color = #393939
left-pane-foreground-color = #dedede