home-theme = #26bdef
left-pane-size = 80px
left-pane-collapse-size = 0
left-pane-after-collapse-size = left-pane-size - left-pane-collapse-size

application-max-width = 1280px
application-min-width = 1024px
nav-bottom-border-size = 3px

left-pane-background-color = #393939
left-pane-foreground-color = #dedede
caption-background-color = #171615