home-theme = #ffffff
sidebar-size = 220px //185px
sidebar-collapse-size = 0
sidebar-after-collapse-size = sidebar-size - sidebar-collapse-size

application-max-width = 1280px
application-min-width = 800px
nav-bottom-border-size = 3px
navigation-alternative-color = #f0f0f0

sidebar-border-size = 3px
sidebar-border-color = #434c5b
sidebar-background-color = #201f24
sidebar-foreground-color = #dedede
caption-background-color = #171615
