@require '../lib.import.styl'

#iron-router-progress.spinner
  background-color #7AC5F9
  box-shadow 0 0 5px rgba(0, 150, 242, 0.5)
  &:before
    border-color #7AC5F9
    width 10px; height 10px
    left dual-left-width - 6; top 34px
    background-color #ffffff
    border-radius 50%