template(name="merchantOptions")
  #content.modern.merchant-options
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +UI.dynamic(template=currentSectionDynamic.template data=currentSectionDynamic.data)
            //+merchantPrintDesigner merchantProfile
      .dual-addon
        .nano: .nano-content
          .group-wrapper
            each settings.common
              .caption.inner(class="{{optionActiveClass}}")
                span.avatar.letter(class="{{icon}}")
                span.text.uppercase <b>{{display}}</b>
          .group-wrapper
            .caption.group VĂN BẢN
            each settings.printing
              .caption.inner(class="{{optionActiveClass}}")
                span.avatar.letter(class="{{icon}}")
                span.text.uppercase <b>{{display}}</b>
          .group-wrapper
            .caption.group CHỨC NĂNG
            each settings.apps
              .caption.inner(class="{{optionActiveClass}}")
                span.avatar.letter(class="{{icon}}")
                span.text.uppercase <b>{{display}}</b>

  #footer.modern
    .editor-row
      .editor-wrapper.dual-spacer
      .editor-wrapper.right
        button.flat.btn.lime.pull-right.finish ÁP DỤNG