template(name="merchantPrintingHeader")
   .printing-header
      .branding
         .company-name {{merchantInfo.companyName}}
         .company-address
            span {{merchantInfo.contactAddress}}
            span.icon-location-outline

      .info
         span <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b> <br/>
         span.icon-phone-circled {{merchantInfo.contactPhone}}