template(name="customerThumbnail")
  .col
    .thumbnails(class="{{styles}}")
      .left-caption {{dateOfBirth}}
      .right-caption {{name}}
      .full-desc.price {{phone}}
      +avatarImageComponent(avatar=undefined alias=name)
      .single-price {{address}}
      .short-desc.quality {{gender}}
      .trash: i.icon-bag