template(name="roleManagement")
  #content.modern.role-manager
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            each permissionGroups
              .section.panel.panel-default.options-section
                .panel-heading
                  span(class="{{icon}}") {{description}}
                .panel-body
                  each children
                    .collapsible-row
                      .long-description {{description}}
                      .commands
                        input(binding="switch" type="checkbox" name="{{key}}" )

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm phân quyền...")
          if creationMode
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createRoleBtn
        .nano: .nano-content

          if hasCustomPermission
            .group-wrapper
              .caption.group CỬA HÀNG
              each scope.managedCustomRoles
                .caption.inner(class="{{roleActiveClass}}")
                  span.avatar.letter ?
                  span.text {{name}}
                    if allowDelete
                      .commands
                        span.icon-cancel-circled-4.deleteNewRole

          if hasBuitInPermission
            .group-wrapper
              .caption.group DỰNG SẴN
              each scope.managedBuitInRoles
                .caption.inner(class="{{roleActiveClass}}")
                  span.avatar.letter ?
                  span.text {{name}}

  #footer.modern
    .editor-row
      .editor-wrapper.dual-spacer
      .editor-wrapper.right
        if showChangePermission
          button.flat.btn.lime.savePermission ÁP DỤNG

    //ul.permission-group
    //  each permissionGroups
    //    li
    //      span.group-caption(class="{{icon}}" data-toggle='tooltip' data-placement="right" title="{{description}}")
    //      ul.permission-details
    //        each children
    //          li.permission-item(data-toggle="tooltip" title="{{description}}")
    //            input(binding="switch" type="checkbox" name="{{key}}")
    //            .role-label {{description}}


    //  ul
    //    each
    //    li.permission-item
    //      input(binding="switch" type="checkbox" name="{{key}}")
    //      .role-label {{description}}