template(name="importHistoryThumbnail")
  .col
    .thumbnails(class="#{colorClass}")
      .left-caption {{createDate version.createdAt}}
      .right-caption {{userNameFromId creator}}
      .short-desc.quality {{status}}
      .single-price
      .full-desc.price {{formatNumber totalPrice}}
      .full-desc.trash: a(href="#"): i.icon-bag


