template(name="importHistoryDetail")
  aside.modal.swipe.left#importHistoryDetail
    .modal-dialog.sale-bill-preview
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title
          i.icon-search-8
          span CHI TIẾT KIỂM KHO
      .modal-body.printable-area
        .header
        .merchant-info
          span.marchant-address
            |Người tạo: {{userNameFromId import.creator}} <br/>
            |Miêu tả: {{import.description}} <br/>
            |Trạng thái: {{status}}
        ul
          each importDetails
            li.order-detail
              .product-name <b>{{productNameFromId product}}</b> [{{skullsNameFromId product}}]
              .product-price
                span.individual-price * {{formatNumber importQuality}} x {{formatNumber importPrice}}
                span.final-price {{formatNumber totalPrice}}

        .bill-summary
          span tổng cộng
          span.bill-final <b>{{formatNumber import.totalPrice}}</b> VNĐ
        //.bill-footer
      .modal-footer
        if showFinish
          button.btn.btn-primary.finish XÁC NHẬN