template(name="roleManager")
  #header
    .caption-row: .title PHÂN QUYỀN <small>NHÓM NGƯỜI DÙNG</small>
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel tên nhóm
        +iSelect(options=roleSelectOptions class="field")
      .editor-wrapper
        .lemon.btn.lime.icon-ok-6#updateButton ÁP DỤNG

      .editor-wrapper.right(style="display")
        .lemon.btn.lime.icon-plus-circled#newGroupButton(class="{{allowCreate}}") THÊM MỚI
      .editor-wrapper.right(style="width: 200px")
        span.ilabel.optional tên nhóm
        input(name="newGroupName")

  #content.role-manager
    ul.permission-group
      each permissionGroups
        li
          span.group-caption(class="{{icon}}" data-toggle='tooltip' data-placement="right" title="{{description}}")
          ul.permission-details
            each children
              li.permission-item(data-toggle="tooltip" title="{{description}}")
                input(binding="switch" type="checkbox" name="{{key}}")
                .role-label {{description}}
    //  ul
    //    each
    //    li.permission-item
    //      input(binding="switch" type="checkbox" name="{{key}}")
    //      .role-label {{description}}