template(name="staffManagement")
  #header
    .caption-row
      .title DANH SÁCH NHÂN VIÊN

    .editor-row
      .editor-wrapper(style="width: 180px")
        span.ilabel họ tên
        input(name="fullName")
      .editor-wrapper(style="width: 180px")
        span.ilabel tài khoản (email)
        input#email(name="email")
      .editor-wrapper(style="width: 120px")
        span.ilabel.center mật khẩu
        input(type="password" name="password")
      .editor-wrapper(style="width: 120px")
        span.ilabel.center xác nhận
        input(type="password" name="confirm")
      //.editor-wrapper(style="width: 360px")
      //  span.ilabel.optional phân quyền
      //  +iSelect(options=roleSelectOptions class="field")
      .editor-wrapper
        button.lemon.btn.lime.icon-user-add-1.create-staff(class="{{allowCreateStaff}}") TẠO


  #content.modern
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +staffManagementOverviewSection currentStaff
            +staffManagementDebitSection currentStaff
            .section Auto debt section
      .dual-addon
        .search-filter.icon-search-8
          input(type="text")
        .nano: .nano-content
          each managedStaffList
            .group-wrapper
              .group.caption {{key}}
              each childs
                .inner.caption(class="{{activeClass}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
                  span {{fullName}}