@import "../../../../../styles/lib.import.styl"

.merchant-home
  .customer-management
    background center center no-repeat url("images/metro/customer7.jpg")
    background-size cover
    /*&:before*/
      /*content: ''*/
      /*absolute top 0 left 0 right 0 bottom 0*/
      /*background-image linear-gradient(top left, #002f4b, #16a085)*/
      /*background-color #16a085*/
      /*opacity .4*/
  .distributor-management
    background center center no-repeat url("images/metro/agency.jpg")
    background-size cover
  .product-management
    background center center no-repeat url("images/metro/product3.jpg")
    background-size cover