template(name="merchantHome")
  #content.modern.merchant-home
    .dual-content
      .dual-detail-wrapper
        .dual-detail.metro: .merchant-metro-wrapper
          //.home-separator-line.icon-down-open-2
          //.home-eds-text THIEN BAN
          //.home-separator-logo

          .metro-inner-wrapper
            +metroDecoratorTiles
            .tile-group-2
              .tile.quatro.lime.overlay.customer-management(class="{{metroUnLocker Summary.data.staffCount}}" data-app='customerManagement')
                .canvas-wrapper.double: .canvas
                  .app-icon.icon-group
                  span.caption.app-name.bottom.right khách hàng
                  .app-count {{listToFormatNumber Summary.customerList}}
                  .app-count-description khách hàng
              .tile.double.pumpkin.overlay.distributor-management(data-app="distributorManagement")
                .canvas-wrapper: .canvas
                  .app-icon.icon-building
                  .app-count {{listToFormatNumber Summary.distributorList}}
                  .app-count-description công ty
                  span.caption.app-name.bottom.right nhà cung cấp
              .tile.double.belize-hole.overlay.product-management(data-app="productManagement")
                .canvas-wrapper: .canvas
                  .app-icon.icon-cubes
                  .app-count {{listToFormatNumber Merchant.productList}}
                  .app-count-description loại sản phẩm
                  span.caption.app-name.bottom.right sản phẩm

            .tile-group-2
              .tile.double.peter-river(data-app="distributorManagement")
                .app-icon.icon-shareable
                .app-count 0
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right thu chi
              .tile.amethyst(data-app="sales")
                .app-icon.icon-basket
                .app-count {{listToFormatNumber Summary.saleDay}}
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right bán hàng
              .tile.pink(data-app="customerReturn")
                .app-icon.icon-reply-outline
                .app-count {{listToFormatNumber Summary.returnCustomerDay}}
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right trả hàng
              .tile.green-sea(data-app="import")
                .app-icon.icon-download-outline
                .app-count {{listToFormatNumber Summary.importDay}}
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right nhập kho
              .tile.pumpkin(data-app="distributorReturn")
                .app-icon.icon-reply-outline
                .app-count {{listToFormatNumber Summary.returnDistributorDay}}
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right trả hàng
              .tile.carrot(data-app="inventoryHistory")
                .app-icon.icon-edit
                .app-count {{listToFormatNumber Summary.returnCustomerDay}}
                .app-count-description ngày chưa cập nhật
                span.caption.app-name.bottom.right kiểm kho
              .tile.blue(data-app="distributorManagement")
                .app-icon.icon-loop-outline
                .app-count 0
                .app-count-description phiếu trong ngày
                span.caption.app-name.bottom.right chuyển kho

            .tile-group-2
              .tile.double.gray
                .app-icon.icon-award
                span.caption.app-name.bottom.right &nbsp;
              .tile.lime(data-app="deliveryManager")
                .app-icon.icon-truck-1
                .app-count {{listToFormatNumber Summary.deliveryWaiting}}
                .app-count-description phiếu chờ giao
                span.caption.app-name.bottom.right giao hàng
              .tile.carrot(data-app="distributorManagement")
                .app-icon.icon-flash-3
                span.caption.app-name.bottom.right lãi suất
              .tile.double.blue(data-app="partnerManagement")
                .app-icon.icon-award
                .app-count {{listToFormatNumber Merchant.partnerList}}
                .app-count-description đã liên kết
                span.caption.app-name.bottom.right đối tác
              .tile.double.amethyst(data-app="merchantReport")
                .app-icon.icon-chart-pie-outline
                .app-count {{formatNumber revenueDay}}
                .app-count-description doanh thu ngày
                span.caption.app-name.bottom.right báo cáo
            +metroDecoratorTiles

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm kiếm...")
        .nano: .nano-content
          .group-wrapper
            .caption.group &nbsp;
            each appMenus
              .caption.inner
                span.avatar.letter(class="{{icon}}")
                span.text.uppercase.light-font {{display}}

  //#footer.modern
  //  .editor-row
  //    .editor-wrapper.dual-spacer