template(name="importDetailEditor")
  tr.editors.dual-border
    td.note.has-commands
      |{{productName product}}
      if showDelete
        .commands
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteImportDetail: span.icon-minus-4
    td: input(name="editExpireDate" min="0")
    td.number: input(name="editImportQuality" min="0")
    td(align="center") {{unitName}}
    td.number: input(name="editImportPrice" min="0")
    td.note.number <b>{{formatNumber totalPrice}}</b>

