@import "../../../../styles/lib.import.styl"

.sale-bill-preview
  .header
    text-transform uppercase
  ul
    padding 0; margin 0
    li
      list-style none
      border-bottom dashed 1px #999999
      &:first-child
        border-top dashed 1px #999999