template(name="saleProductThumbnail")
  .col
    .thumbnails(class="#{styles}")
      .right-caption {{name}}
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .short-desc.quality {{pad quality}}
      .full-desc.price {{formatNumber finalPrice}} <small>VNĐ</small>
      //.discount
      //  if false
      //    span.s4 -{{round discountPercent}}<span class="h5">%</span>

      .single-price {{formatNumber price}} VNĐ
      .trash: i.icon-bag