template(name="merchantTest")
  #header
    .caption-row: .title TEST PAGE
    .btn.default.defferedBtn Click
    input.defferedTxt(type="text")
  #content
    .segments-container.size3
      #step1.segments-column
        h1 col1
      #step2.segments-column
        h1 col2
      #step3.segments-column
        h1 col3