template(name="homeNavigation")
  ul.home-navigation
    li
      span.menu-item.icon-doc
        span.main-caption {{i18n 'home.news'}}
        span.sub-caption {{i18n 'home.subNews'}}
    li
      span.menu-item.icon-lightbulb
        span.main-caption {{i18n 'home.support'}}
        span.sub-caption {{i18n 'home.subSupport'}}
    li
      span.menu-item.icon-comment
        span.main-caption {{i18n 'home.customer'}}
        span.sub-caption {{i18n 'home.subCustomer'}}
    li
      span.menu-item.icon-beaker
        span.main-caption {{i18n 'home.feature'}}
        span.sub-caption {{i18n 'home.subFeature'}}
    li
      span.menu-item.icon-wallet
        span.main-caption {{i18n 'home.priceTable'}}
        span.sub-caption {{i18n 'home.subPriceTable'}}
    li
      span.menu-item.icon-location
        span.main-caption {{i18n 'home.contact'}}
        span.sub-caption {{i18n 'home.subContact'}}
