@import "../../../styles/lib.import.styl"

.application, nav.main
  min-width application-min-width

.watermark
  color #F3F3F3; font-size 100px
  absolute top 100px left 50%
  width 1040px; margin-left -455px
  text-align center
  z-index -999

#content-wrapper
  padding-top 40px

html { height: 100%; }
body { height: 100%; background-color: #e7ebee; overflow: hidden; }