template(name="customerManagementCustomSaleDetails")
  tr.header-row
    td(colspan="5")
      | .
      .bill-header <b>{{momentCalendar debtDate}}</b>
      .commands
        if isNotPaid
          .lemon.rounded.lime.btn.animated.bounceIn.paid-customSale: span.icon-ok-6
          if isEditing
            .lemon.rounded.orange.btn.animated.bounceIn.cancel-edit: span.icon-cancel-7
          else
            .lemon.rounded.blue.btn.animated.bounceIn.enter-edit: span.icon-pencil

  each customSaleDetails
    tr.detail-row
      td.has-commands
        |{{productName}}
        .commands
          if allowDelete
            .lemon.rounded.tiny.btn.red.deleteCustomSaleDetail: span.icon-bag
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.number {{formatNumber finalPrice}}
  if isEditing
    +customerManagementCustomSaleDetailCreator
  tr.detail-row.summary-row
    td(colspan="4")
    td.summary-total(align="right"): span.s5 <b>{{formatNumber totalCash}}</b>

template(name="customerManagementCustomSaleDetailCreator")
  tr.animated.fadeIn
    td: input(name='productName' type="text" size="10")
    td: input(name='quality' type="text" size="10")
    td: input(name='skulls' type="text" size="10")
    td: input.number(name='price' type="text" size="10")
    td: .lemon.btn.lime.icon-bag.createCustomSaleDetail THEM DETAIL