template(name="customerManagementCustomSaleDetails")
  tr.header-row: td(colspan="5")
    | .
    .bill-header <b>{{momentCalendar debtDate}}</b>
    .commands
      if allowDelete
        .lemon.rounded.red.btn.animated.bounceIn.deleteCustomSale: span.icon-minus-4

  each customSaleDetails
    tr.detail-row
      td.has-commands
        |{{productName}}
        .commands
          if allowDelete
            .lemon.rounded.tiny.btn.red.deleteCustomSaleDetail: span.icon-minus-4
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.number {{formatNumber finalPrice}}
  if allowDelete
    +customerManagementCustomSaleDetailCreator
  tr.detail-row.summary-row
    td.note {{description}}
    td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber totalCash}}</b>

  each latestPaids
    tr.paid-row.top(class="{{receivableClass}}")
      td: span.note {{description}}, {{momentCalendar debtDate}}.
      td.number(colspan="3"): span(class="{{receivableClass}}") <b>{{formatNumberAbs debtBalanceChange}}</b>
      td
    tr.paid-row(class="{{receivableClass}}")
      td
      td.number(colspan="3"): span.icon-feather-1(class="{{finalReceivableClass}}") <b>{{formatNumberAbs latestDebtBalance}}</b>
      td

template(name="customerManagementCustomSaleDetailCreator")
  tr.editors.animated.fadeIn
    td: input(name='productName' type="text" size="10" placeholder="tên sản phẩm")
    td: input(name='quality' type="text" size="10" placeholder="sl")
    td: input(name='skulls' type="text" size="10" placeholder="quy cách")
    td: input.number(name='price' type="text" size="10" placeholder="đơn giá")
    td: .lemon.btn.rounded.lime.pull-right.createCustomSaleDetail.icon-plus-6