template(name="customerManagementDebitSection")
  .section.panel.panel-default
    .panel-heading
      span Heading!
    .panel-body
      span Nợ cũ: <br />
      span Nợ mới:
    .panel-footer
      span Tiền còn nợ: {{totalDebit}} <br /> Tổng tiền: {{totalPurchases}}
