template(name="customerManagementDebitSection")
  .section.panel.panel-default
    .panel-heading
      span Heading!
    .panel-body
      span TADA, Phần nợ ở đây!
    .panel-footer
      span Summary, expand button.
