template(name="customerManagementDebitSection")
  .section.panel.panel-default
    .panel-heading
      span Công nợ
    .panel-body
      table.lemon-grid
        tr(style="width:100%")
          th(style="width:150px") Ngay
          th(style="width:auto") Ghi Chu
          th(style="width:150px") Tong tien
          th(style="width:150px") Da tra
          th(style="width:150px") Con lai
        each oldTransaction
          tr
            td {{momentFormat version.createdAt "DD/MM/YYYY hh:mm"}}
            td {{description}}
            td {{formatNumber totalCash}}
            td {{formatNumber depositCash}}
            td {{formatNumber debitCash}}
        tr
          td: input(type="text" size="10")
          td: input(type="text" size="10")
          td: input(type="text" size="10")
          td: input(type="text" size="10")
          td: .lemon.btn.lime.icon-bag THEM MOI

      table.lemon-grid
        tr(style="width:100%")
          th(style="width:150px") Ngay
          th(style="width:auto") Ghi Chu
          th(style="width:150px") Tong tien
          th(style="width:150px") Da tra
          th(style="width:150px") Con lai
        each newTransaction
          tr
            td {{momentFormat version.createdAt "DD/MM/YYYY hh:mm"}}
            td {{description}}
            td {{formatNumber totalCash}}
            td {{formatNumber depositCash}}
            td {{formatNumber debitCash}}
    .panel-footer
      span Tiền còn nợ: {{totalDebit}} <br /> Tổng tiền: {{totalPurchases}}