template(name="customerManagementDebitSection")
  .section.panel.panel-default
    .panel-heading
      span Công nợ
    .panel-body
      each oldTransaction
        span {{_id}} <br />
      span <br />
      each newTransaction
        span {{_id}} <br />
      span Nợ mới:
    .panel-footer
      span Tiền còn nợ: {{totalDebit}} <br /> Tổng tiền: {{totalPurchases}}