template(name="customerManagementOverviewSection")
  .section.panel.panel-default
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption {{name}}
      .sub1 {{phone}}
      .sub2 {{address}}
    .panel-footer
      span footer