template(name="customerManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption
        input.editable(name="customerName" value="{{name}}" maxlength="50")
        span.blured {{description}}
      .sub1 {{phone}}
      .sub2 {{address}}
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncCustomerEdit
    .panel-footer
      span.icon-angle-right