template(name="customerManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=firstName)
      .caption
        input.editable.dashed(name="customerName" value="{{name}}" maxlength="50")
        if description
          span.blured-color ({{description}})
      .sub1: input.editable.dashed(name="customerPhone" value="{{phone}}" maxlength="20" size="15" placeholder="điện thoại")
      .sub2: input.editable(name="customerAddress" value="{{address}}" maxlength="100" size="50" placeholder="địa chỉ")
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncCustomerEdit
        if showDeleteCommand
          .lemon.btn.rounded.red.icon-minus-4.customerDelete
    .panel-footer
      span.icon-angle-right