template(name="customerManagementSaleDetails")
  tr.header-row
    td(colspan="5")
      | .
      .bill-header <b>{{momentCalendar version.createdAt}}</b>
  each saleDetails
    tr.detail-row
      td.first-column {{productName}}
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.last-column.number {{formatNumber finalPrice}}
  tr.detail-row.summary-row
    td.note {{description}}
    td.number(colspan="3"): span.blured-color CÂN BẰNG NỢ: <b>{{formatNumber latestDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber finalPrice}}</b>

  each latestPaids
    tr
      td {{momentCalendar debtDate}} - {{description}}
      td {{beforeDebtBalance}}
      td {{latestDebtBalance}}