template(name="customerManagementSalesHistorySection")
  .section.panel.panel-default
    .panel-heading
      table.lemon-grid: tr
        th(style="width:auto") SẢN PHẨM
        th(style="width:50px") SL
        th(style="width:80px") QUI CÁCH
        th.number(style="width:120px") ĐƠN GIÁ
        th.number(style="width:180px") THÀNH TIỀN
    .panel-body.debt-details
      table.lemon-grid
        +customerManagementSaleHistoryHeader
        each customSale
          +customerManagementCustomSaleDetails this
        tr.editors
          td(colspan="3")
            input(name='description' type="text" size="10" placeholder="ghi chú")
          td
            input.number(name='debtDate' type="text" size="10" placeholder="ngày mua")
          td
            .lemon.rounded.btn.lime.icon-doc-text-inv.pull-right.createCustomSale
        tr.group-summary-row
          td(colspan="4")
          td.number
            span.s5 TỔNG NỢ CŨ:
            span.s3 <b>{{currentCustomer.customSaleTotalCash}}</b>

      table.lemon-grid.safe
        +customerManagementSaleHistoryHeader
        if showSaleHistory
          each defaultSaleArchive
            +customerManagementSaleDetails this
        else
          tr: td(colspan="5")
            .lemon.rounded.btn.lime.pull-right.expandSaleHistory.icon-

        each defaultSaleToday
          +customerManagementSaleDetails this
    .panel-footer
      h3 Tiền còn nợ: {{formatNumber totalDebit}} VNĐ<br />
      h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ

template(name="customerManagementSaleHistoryHeader")
  tr
    th(style="width:auto")
    th(style="width:50px")
    th(style="width:80px")
    th(style="width:120px")
    th(style="width:180px")