template(name="customerManagementSalesHistorySection")
  .section.panel.panel-default
    .panel-heading
      div Công nợ
      table.lemon-grid: tr
        th(style="width:150px") NGAY
        th(style="width:auto") GHI CHU
        th.number(style="width:150px") TONG TIEN
        th.number(style="width:150px") DA TRA
        th.number(style="width:150px") CON LAI
    .panel-body
      table.lemon-grid
        +customerManagementSaleHistoryHeader
        each customSale
          tr
            td {{momentFormat version.createdAt "DD/MM/YYYY hh:mm"}}
            td {{description}}
            td.number {{formatNumber totalCash}}
            td.number {{formatNumber depositCash}}
            td.number
              |{{formatNumber debitCash}}
              if allowDelete
                .lemon.btn.red.delete-transaction: span.icon-bag
        tr
          td: input(name='debtDate' type="text" size="10")
          td: input(name='description' type="text" size="10")
          td: input.number(name='totalCash' type="text" size="10")
          td: input.number(name='depositCash' type="text" size="10")
          td: .lemon.btn.lime.icon-bag.create-transaction THEM MOI
      table.lemon-grid
        +customerManagementSaleHistoryHeader
        each defaultSale
          +customerManagementSaleDetails this
          //tr
          //  td {{momentFormat version.createdAt "DD/MM/YYYY hh:mm"}}
          //  td {{description}}
          //  td {{formatNumber finalPrice}}
          //  td {{formatNumber depositCash}}
          //  td {{formatNumber debitCash}}
    .panel-footer
      h3 Tiền còn nợ: {{formatNumber totalDebit}} VNĐ<br />
      h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ


template(name="customerManagementSaleHistoryHeader")
  tr
    th(style="width:auto")
    th(style="width:50px")
    th(style="width:80px")
    th(style="width:120px")
    th(style="width:150px")