template(name="customerManagementSaleDetails")
  tr.header-row
    td(colspan="5") <b>B</b>án ngày <b>{{momentCalendar version.createdAt}}</b>
  each saleDetails
    tr
      td {{productName}}
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.number {{formatNumber finalPrice}}
  tr.summary-row
    td(colspan="3")
    td(align="right"): span.s5 TỔNG PHIẾU
    td(align="right"): span.s4 <b>{{formatNumber finalPrice}}</b> VNĐ