template(name="merchantOptions")
  #content.modern.merchant-options
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +merchantPrintDesigner
      .dual-addon
        .nano: .nano-content
          .group-wrapper
            each settings.common
              .caption.inner
                span.text <b>{{display}}</b>
          .group-wrapper
            .caption.group VĂN BẢN
            each settings.printing
              .caption.inner
                span.text <b>{{display}}</b>