@require '../lib.import.styl'

.printable-area
  .printing-header
    width 100%
  .printing-content
    width 100%
  .printing-footer
    width 100%


#content .section.printable-area
  .printing-header
    clearfix()
    .branding
      float left
      .company-name
        font-size 40px
    .info
      float right