@require '../lib.import.styl'

/*.printable-area*/
  /*.printing-header*/
    /*width 100%*/
  /*.printing-content*/
    /*width 100%*/
  /*.printing-footer*/
    /*width 100%*/



.printing-header
  clearfix()
  padding-bottom 15px
  border-bottom dashed 1px #666666
  .branding
    float right
    padding-right 10px !important
    .company-name
      font-size 40px
      text-transform uppercase
  .info
    color #666666
    float left

.printing-info
  padding-top 25px
  .document-name
    font-size 30px; font-weight lighter
    text-align center