@require '../lib.import.styl'

print-mode()
  *
    visibility hidden !important
  input
    placeholder #ffffff
    &.editable.dashed
      border-bottom none
  .note
    color #666666
  .printable-area, .printable-area *
    visibility visible !important
  .commands, .commands *:before
    visibility hidden !important
  .lemon-grid
    td:first-child
      border-left none !important
    .editors
      border-bottom none !important
      border-top dashed 1px #eee !important
      input
        font-style normal; font-weight normal
  #container
    padding-right 0 !important
  .application
    margin-right 0 !important
  .dual-detail
    margin-left 0 !important

  .printable-area
    absolute left 0 top 0
    font-size 125%
    width 100%
    margin 0 !important

@media print
  print-mode()
html.print-mode
  print-mode()