template(name="staffManagementSaleDetails")
  tr.header-row
    td(colspan="5")
      | &nbsp;
      .bill-header <b>{{momentCalendar version.createdAt}}</b>
  each saleDetails
    tr.detail-row
      td.first-column {{productName product}}
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.last-column.number {{formatNumber finalPrice}}
  tr.detail-row.summary-row
    td.note {{description}}
    td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber totalDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber finalPrice}}</b>

  each latestPaids
    tr.paid-row.top(class="{{receivableClass}}")
      td: span.note {{description}}, {{momentCalendar debtDate}}.
      td.number(colspan="3")
        span.icon-feather-1
        span.s4(class="{{finalReceivableClass}}") <b>{{formatNumberAbs totalDebtBalance}}</b>
      td.number: span(class="{{receivableClass}}") <b>{{formatNumberAbs debtBalanceChange}}</b>
