template(name="merchantReportDayOverview")
   .section.panel.top.panel-default
      .panel-heading
         span.avatar.letter: i.icon-adjust-1
         .caption Hoạt động trong ngày
      .panel-footer
         span.icon-angle-right
