template(name="customerManagementNavigationPartial")
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales bán hàng
   li.blue.teleport.inav.icon-reply-outline.animated.fadeInUp.customerToReturns trả hàng