template(name="importDetailEditor")
   tr.editors.dual-border
      td.note.has-commands
       |{{product.name}}
       .commands
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteImportDetail: span.icon-minus-4
      td: input(name="productionDate" min="0")
      td: input(name="expireDate" min="0")
      td.number: input(name="importQuality" min="0")
      td.number: input(name="importPrice" min="0")
      td.note.number <b>{{formatNumber totalPrice}}</b>

