template(name="chatAvatarItem")
  li.chat-avatar(class="{{myAvatar}}")
    .online-status-orb(class="{{onlineStatus user}}")
    i.icon-chat-5.has-message-status(class="{{hasUnreadMessage}}")
    .alias {{alias.shortName}}
    +avatarImageComponent(avatar=avatarUrl alias=alias.firstName)