template(name="myAvatarItem")
  li.chat-avatar.me
    input.avatarFileSelector(type="file")
    .online-status-orb(class="{{onlineStatus user}}")
    .alias {{alias.shortName}}
    +avatarImageComponent(avatar=avatarUrl alias=alias.firstName)