template(name="sidebar")
  #sidebar
    .collapse-toggle(class="{{appCollapseClass}}")
    .nano: .nano-scroller
      ul.messenger-list
        +myAvatarItem myProfile
        each friends
          +chatAvatarItem

    +messenger