template(name="exportAndImportManagerThumbnail")
  .col
    .thumbnails
      .right-caption {{buyerName}} <br /> {{sellerName}}
      .full-desc.price
        button.btn.btn-default.createSaleExport(style="{{showInput}}") {{showInputText}}