template(name="addDistributor")
   aside.modal.swipe.left#addDistributor
      .modal-dialog.sale-bill-preview(style="width: 320px;")
         .modal-header
            button.close(type="button" data-dismiss="modal")
               span(aria-hidden="true") &times;
               span.sr-only Close
            h4.modal-title
               i.icon-search-8
               |THÊM CÔNG TY PHÂN PHỐI
         .modal-body.printable-area
            .header
            .merchant-info
               input.form-control(name='name' type='text' placeholder='Tên Công Ty')
               input.form-control(name='phone' type='text' placeholder='Số Điện Thoại')
               input.form-control(name='address' type='text' placeholder='Địa Chỉ')
               div(align="right"): a.btn.btn-danger.create-distributor Tạo mới
            ul
               each myCreateDistributor
                  li.order-detail
                     .product-name
                        | C.ty: {{name}} ({{phone}})
                        if allowDelete
                           button.btn.delete-distributor(type="button") x
                     .product-price
                        span.individual-price Địa chỉ: {{location.address}}
                        span.final-price
            //.bill-summary
            //.bill-footer
         .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") ĐÓNG
