template(name="addProduct")
   aside.modal.swipe.left#addProduct
      .modal-dialog.sale-bill-preview
         .modal-header
            button.close(type="button" data-dismiss="modal")
               span(aria-hidden="true") &times;
               span.sr-only Close
            h4.modal-title
               i.icon-search-8
               |THÊM SẢN PHẨM MỚI
         .modal-body.printable-area
            .header
            .merchant-info
               input.form-control.productCode(type='text' placeholder='Mã Code')
               input.form-control.name(type='text' placeholder='Tên Sản Phẩm')
               input.form-control.skull(type='text' placeholder='Loại Sản Phẩm')
               div(align="right"): a.btn.btn-danger.create-product Tạo mới
            ul
               each myCreateProduct
                  li.order-detail
                     .product-name
                        |{{name}} [{{skulls}}]
                        if allowDelete
                           button.btn.delete-product(type="button") x
                     .product-price
                        span.individual-price Barcode: {{productCode}}
            //.bill-summary
            //.bill-footer
         .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") ĐÓNG