template(name="salesNavigationPartial")
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.saleToProduct sản phẩm
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.saleToCustomer khách hàng
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.saleToReturn trả hàng
