@import "../../../../../styles/lib.import.styl"
#content.sales-app
  .thumbnails .command-button
    opacity 0.8
    padding 5px; bottom 4px
    &.up
      absolute left 64px
    &.down
      absolute left 5px
  .caption.inner span.text
    padding-right 22px

.sale-bill-preview
  width 300px
  .modal-body
    padding 15px 10px

  .header
    text-align center
    text-transform uppercase
  ul
    padding 25px 0 0 0; margin 0
    li
      clearfix()
      list-style none
      border-bottom dashed 1px #999999
      &:first-child
        border-top dashed 1px #999999

  .merchant-info
    text-align center
    .merchant-name
      font-size 20px
    .merchant-address
      font-weight lighter
  .order-detail
    .product-name
      overflow ellipsis
    .discount
      font-size 8px
    .individual-price
      float left
      color #666666
    .final-price
      float right
  .bill-summary
    clearfix()
    padding-top 20px
    .bill-final
      float right
      font-size 16px
  .bill-footer
    clearfix()
    text-align center
    padding-top 10px


#content.sales-app tr.large-name
  display none
  border-bottom none !important
  td
    padding 0 !important

@media print and (max-width: 300px)
  #content.sales-app table.lemon-grid
    tr.large-name
      display table-row
    .bill-name, .skull, .bill-discount
      display none