template(name="saleDetailEditor")
  tr.detail-row.large-name: td(colspan="3")
    span {{productName product}}
    //if product.basicUnit
    //  span ({{product.basicUnit}})
    if discountPercent
      span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%
  tr.editors.dual-border(class="{{crossBillAvailableQuality.errorClass}}")
    td.bill-name.has-commands
     |{{productName product}}
     .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteOrderDetail: span.icon-minus-4
    td.price: input(name="editPrice" min="0")
    td.quality: input.error-field(name="editQuality" min="0")
    td.skull(align="center") {{unitName}}
    td.bill-discount: input(name="editDiscountCash" min="0")
    td.number.final-price <b>{{formatNumber finalPrice}}</b>