template(name="salePrinter")
   aside.modal.swipe.left#salePrinter
      .modal-dialog.sale-bill-preview
         .modal-header
            button.close(type="button" data-dismiss="modal")
               span(aria-hidden="true") &times;
               span.sr-only Close
            h4.modal-title
               i.icon-search-8
               |XEM PHIẾU BÁN HÀNG
         .modal-body.printable-area
            .header
               span ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>, <br/>
               span <b>{{timeHM}}<sup>{{timeS}}</sup></b>,<b> {{formatNumberK order.finalPrice}}</b>k
            .merchant-info
               span.merchant-name C.Ty: {{merchant.companyName}} <br/>
               span.marchant-address Số ĐT: {{merchant.contactPhone}} <br/>
               //if merchant.contactAddress
               //   span.marchant-address Đia Chỉ: {{merchant.contactAddress}}
            ul
               each orderDetails
                  li.order-detail
                     .product-name <b>{{formatNumber quality}}</b> {{productNameFromId product}}
                     .product-price
                        span.individual-price * {{formatNumber soldPrice}}
                        if discountVisible
                           sup.discount (<b>-{{discountPercent}}</b>%) <br/>
                        span.final-price {{formatNumber finalPrice}}

            .bill-summary
               span tổng cộng
               span.bill-final <b>{{formatNumber order.finalPrice}}</b> VNĐ
            .bill-footer HẸN GẶP LẠI
         .modal-footer
            button.lemon.btn.pumpkin(type="button" data-dismiss="modal") ĐÓNG
            button.lemon.btn.blue.print-button(type="button"): span.icon-print-6