template(name="stockThumbnail")
  .col
    .thumbnails(class="#{styles}")
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .horizontal-meter
        .meter-wrapper: .meter-progress(style="height: {{meterStyle.percent}}%; background-color: {{meterStyle.color}}")
      .right-caption {{name}}
      .short-desc.quality.small {{availableQuality}}/{{inStockQuality}}
      .full-desc.price {{formatNumber price}} <small>VNĐ</small>
      .discount
        if false
          span.s4 -{{round discountPercent}}<span class="h5">%</span>
      .single-price TỔNG NHẬP {{totalQuality}}
      if allowDelete
        .full-desc.trash: a(href="#"): i.icon-bag