@import 'nib'
@import "../../../../styles/lib.import.styl"

#homeHeader
  /*background-color #fff*/
  color #ffffff

  .home-branding
    clearfix()
    padding 30px 10px 0 10px
    /*border-bottom solid 1px #ffffff*/
    .logo-text
      cursor pointer
      float left
      padding-left 10px
      padding-top 2px
      /*border-right solid 1px #EEEEEE*/

      .caption
        font-size 28px
        /*font-weight bold*/
      font-weight lighter
      .trademark
        font-size 8px
        top -14px; left -5px
      .slogan
        text-align right
        /*font-style italic*/
        font-size 12px
        margin-top -11px
        margin-right 47px

    .logo-image
      float left
      margin-top -5px

      img
        width 60px; height 60px

    .languages
      float right
      margin 16px 0 0 25px
      text-transform uppercase
      position relative
      font-size 12px; font-weight lighter
      span
        cursor pointer
        margin-left 5px
      /*ul*/
        /*margin 0; padding 0*/
        /*list-style none*/
        /*border 1px solid #eaeced*/
        /*position absolute*/
        /*$box-shadow(4px 4px 0 rgba(0, 0, 0, 0.1))*/
        /*li*/
          /*cursor pointer*/
          /*position relative*/

    .social
      position relative
      float right
      margin 14px 0 0 0

      a
        color #ffffff
        font-size 14px
        padding-left 5px
        &:hover
          color #eeeeee

    .phone
      position relative
      float right
      padding 2px 0 2px 23px
      font-size 12px; font-weight lighter
      line-height 24px
      margin 11px 30px 0 30px

      i
        absolute top 2px left 0
        font-size 16px