template(name="homeTopPanel")
  .top-panel(class="{{minimizeClass}}")
    .home-wrapper
      .top-panel-content
        if showRegisterToggle
          span.top-panel-toggle: i.icon(class="{{toggleIcon}}")

        .content-inner
          .eula-section
            .title.icon-award {{i18n 'home.term'}}
            .details Đây là chi tiết điều khoản sử dụng...
            .post-script Tôi đồng ý với tất cả những điều khoản trên.