@import "../../../../styles/lib.import.styl"

.top-panel
  position relative
  z-index 10
  background-color home-theme
  color #666666

  .top-panel-content
    clearfix
    margin 0 auto
    position relative
    width 100%

    .top-panel-toggle
      cursor pointer
      background-color home-theme
      border solid 3px home-theme
      width 105px; height 105px
      border-radius 7px
      absolute left 40% bottom -7px
      z-index -1
      $rotate -135deg
      > i
        display inline-block
        $rotate -45deg

    .content-inner
      clearfix()
      background-color home-theme
      padding 30px 0 40px 0
      overflow hidden
      max-height 500px
      transition-property padding, max-height
      transition-duration 1s, 0.6s

    .eula-section
      float left
      .title
        font-size 20px; margin-bottom 15px
      .details
        margin-left 20px

.top-panel.minimize
  .content-inner
    max-height 0
    padding 0

  .top-panel-toggle
    border solid 3px #ffffff
    background-color transparent
    i { color: #ffffff; }

    &:hover
      background-color home-theme
      border solid 3px home-theme
      i { color: #666666; }