template(name="detailReport")
   #content.modern
      .dual-content
         .dual-detail-wrapper
            .dual-detail
               .nano: .nano-content
                  span details
         .dual-addon
            .search-filter.icon-search-8
               input(name='searchFilter' type="text")
            .nano: .nano-content
               span addon