template(name="merchantPrintDesigner")
  .section.top.panel.panel-default.printable-area
    .panel-heading
      .printing-header
        .branding
          .company-name {{merchantInfo.companyName}}
          .company-address {{merchantInfo.contactAddress}}
        .info
          span.icon-phone-circled {{merchantInfo.contactPhone}}
      .printing-info
        .document-name PHIẾU BÁN HÀNG
    .panel-body.printing-content
      .empty-dashed-line nội dung bản in
      each bodySpaceIterator
        .empty-dashed-line
    .panel-footer.printing-footer
      h1 footer