template(name="merchantPrintDesigner")
  .section.top.panel.panel-default.printable-area
    .panel-heading.printing-header
      h1 header
    .panel-body.printing-content
      h1 content
    .panel-footer.printing-footer
      h1 footer