template(name="homeLayout")
  +homeTopPanel
  .animated-bg
    section#homeHeader: .home-wrapper
      +homeHeader
      //+homeNavigation
    section#homeContent
      +yield
  section#homeFooter
    +homeFooter