template(name="customerReturn")
  //#header
  //  .editor-row

  #content.modern.sales-app
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +customerReturnDetailSection currentCustomerReturn

      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")
        .nano: .nano-content
          .group-wrapper
            each allReturnProduct
              .caption.advanced.inner
                +avatarImageComponent(avatar=avatarUrl alias=name)
                span.text
                  | <b>{{product.name}}</b>
                  if product.basicUnit
                      | ({{unitName}})
                  .commands
                    span.icon-right-open-big.addReturnDetail
  #footer.modern
    .editor-wrapper.dual-spacer
    .editor-row
      .editor-wrapper(style="width: 170px")
        span.ilabel.optional khách hàng
        +iSelect(options=customerSelectOptions class="field")
      .editor-wrapper.pull-right
        button.lemon.btn.lime.pull-right.submitReturn(class="{{allowSuccessReturn}}" type='submit' style="margin-right: 5px;") HOÀN TẤT

    +tabComponent(options=tabOptions)