template(name="staffManagementOverviewSection")
  .section
    .heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption {{fullName}}
      .sub1 {{phone}}
      .sub2 {{address}}