template(name="staffManagementSalesHistorySection")
  .section.panel.panel-default
    .panel-heading
      table.lemon-grid: tr
        th(style="width:auto") SẢN PHẨM
        th(style="width:50px") SL
        th(style="width:80px") QUI CÁCH
        th.number(style="width:120px") ĐƠN GIÁ
        th.number(style="width:180px") THÀNH TIỀN
    .panel-body.debt-details
      table.lemon-grid
        +staffManagementSaleHistoryHeader
        each customSale
          +staffManagementCustomSaleDetails this

        tr.editors(style="{{isCustomSaleModeEnabled}}")
          td
            input.new-transaction-custom-sale-field(name='payDescription' type="text" size="10" placeholder="ghi chú thu chi")
          td(colspan="2")
            input.new-transaction-custom-sale-field.number(name='payAmount' type="text" size="10" placeholder="số tiền")
          td
            input.new-transaction-custom-sale-field.number(name='paidDate' type="text" size="10" placeholder="ngày giao dịch")
          td
            .lemon.rounded.btn.orange.icon-money.pull-right.createTransactionOfCustomSale(class="{{allowCreateTransactionOfCustomSale}}")

        tr.editors.dual-border(style="{{isCustomSaleModeEnabled}}")
          td(colspan="3")
            input.new-bill-field(name='description' type="text" size="10" placeholder="ghi chú đơn hàng")
          td
            input.new-bill-field.number(name='debtDate' type="text" size="10" placeholder="ngày bán")
          td
            .lemon.rounded.btn.orange.icon-tags-2.pull-right.createCustomSale(class="{{allowCreateCustomSale}}")

        if customSaleModeEnabled
          tr.group-summary-row
            td
              //.lemon.btn.lime.customSaleModeDisable.icon-ok-6 Kết Sổ Cũ
            td.number.old-debt-total(colspan="4")
              span.s5 NỢ CŨ:
              span.s3 <b>{{formatNumber customSaleDebt}}</b> VNĐ

        if showExpandSaleAndCustomSale
          tr: td(colspan="5")
            .lemon.btn.lime.pull-right.expandSaleAndCustomSale.icon-ok-6 Xem Thêm

      table.lemon-grid.safe
        +staffManagementSaleHistoryHeader
        each defaultSaleArchive
          +staffManagementSaleDetails this

        each defaultSaleToday
          +staffManagementSaleDetails this

        tr.editors(style="{{showIsFoundSale}}")
          td
            input.new-transaction-sale-field(name='paySaleDescription' type="text" size="10" placeholder="ghi chú thu chi")
          td(colspan="3")
            input.new-transaction-sale-field.number(name='paySaleAmount' type="text" size="10" placeholder="số tiền")
          td
            .lemon.rounded.btn.lime.icon-money.pull-right.createTransactionOfSale(class="{{allowCreateTransactionOfSale}}")

    .panel-footer
      .right-float
        span.s5 TỔNG NỢ:
        span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
        //h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ

template(name="staffManagementSaleHistoryHeader")
  tr
    th(style="width:auto")
    th(style="width:50px")
    th(style="width:80px")
    th(style="width:120px")
    th(style="width:180px")