template(name="tabComponent")
  ul.tab-component
    li.new-button.icon-plus-6
    each options.source
      li(class="{{activeClass}}")
        .title {{dynamicCaption}}
        span.delete-button.icon-cancel-circled-4