.editable
  border none
  outline none
  transition width 0.3s
  padding-left 5px
  &.dashed
    border-bottom dashed 1px #F9AA51
  &.right-align
    text-align right

.editable-field
  cursor pointer