@require '../lib.import.styl'

tile-size = 115px
tile-space = 5px
tile-group-space = 0
tile-radius = 0
tile-radius-phone = 1px
tile-caption-padding = 5px
tile-double-size = tile-size * 2 + tile-space

//3D!
/*tile-background(color)*/
  /*background-color color*/
  /*box-shadow inset 0px 1px 0px lighten(color, 5), 0px 3px 0px 0px darken(color, 10), 0px 5px 2px #999*/
  /*&:hover*/
    /*background-color darken(color, 5)*/
    /*box-shadow inset 0px 1px 0px color, 0px 3px 0px 0px darken(color, 15), 0px 5px 2px #999*/

//Flat!
tile-background(color)
  background-color color
  /*border solid 1px darken(color, 5)*/
  .canvas
    background-color color
  .app-icon:before
    color lighten(color, 5)

  &.overlay
    &:before
      content: ''
      absolute top 0 left 0 right 0 bottom 0
      background-color lighten(color, 10)
      opacity .4
  &:hover
    background-color darken(color, 5)
    .canvas
      background-color darken(color, 5)


.tile, .canvas
  .app-icon
    absolute top 10px right 0
    background-color #FFFFFF
    padding 2px
    border-radius left 2px
  .app-count
    absolute top 38px right 3px
    font-size 30px
  .app-count-description
    absolute top 72px right 5px
    font-size 10px

.tile
  cursor pointer
  position relative; float left
  height tile-size; width tile-size
  margin 0 tile-space (tile-space) 0
  background-color #FFFFFF
  color #ffffff
  border-radius tile-radius
  /*$noise-material()*/

  .canvas-wrapper
    absolute right 0 bottom 0
    width (tile-size * 1.5); height tile-size
    &.square
      width tile-size
    &.double
      width tile-double-size
    .canvas
      position relative
      width 100%; height 100%

  for $color in colors
    &.{$color[0]}
      tile-background($color[1])

  &:hover
    outline rgba(0, 0, 0, 0.08) solid 2px

  &.double
    width tile-double-size
  &.double-height
    height tile-double-size
  &.quatro
    width tile-double-size
    height tile-double-size
  &.menu
    margin 0 !important
    box-shadow none
    width 100% !important
    display table

  .ico        { font-size: 28px; }
  .ico.small  { font-size: 14px; }
  .ico.large  { font-size: 35px; }
  .ico.huge   { font-size: 50px; }

  .caption
    margin auto
    position absolute
    width 100%
  .top
    top 0; margin-top tile-caption-padding
  .center
    bottom 0
    height 100%
    margin 35% 0 0 0
    display table
  .table
    display table-cell
    vertical-align middle
  .bottom
    bottom 0
    height auto
    margin-bottom tile-caption-padding !important
  .left
    text-align left
    margin-left tile-caption-padding
    left 0
  .middle
    left 0; right 0
    text-align center
  .right
    left auto; right tile-caption-padding !important
    text-align right

  h1, h2, h3, h4, h5, h6
    color #fff
    margin 0
    tiny  { font-size: 30%; }
    tiny4 { font-size: 40%; }
    tiny5 { font-size: 50%; }
    tiny6 { font-size: 60%; }
    tiny7 { font-size: 70%; }

  .app-name
    text-transform uppercase; font-weight 100
    font-size 14px; color #FFFFFF

.tile.locked, .tile:not([data-app])
  background-color #696969 !important
  border none
  &:hover
    background-color darken(#696969, 15) !important
    * { opacity: 0.2; }
    &:before
      font-family 'lemon'
      content '\E815'
      font-size 25px; color #cccccc
      absolute left 50% top 50%
      margin-left -10px; margin-top -20px
    * { color: #B4B4B4; }

.tile.decoration
  pointer-events none
  background-color #DBDBDB !important

[class^="tile-group-"], [class*="tile-group-"]
  margin-right tile-group-space

for size in (1..6)
  .tile-group-{size}
    float left
    width (tile-size * size) + (tile-space * size)