span.s1 { font-size: 36px; }
span.s2 { font-size: 30px; }
span.s3 { font-size: 24px; }
span.s4 { font-size: 18px; }
span.s5 { font-size: 14px; }
span.s6 { font-size: 12px; }
span.s7 { font-size: 10px; }
span.s8 { font-size: 8px; }
span.s9 { font-size: 6px; }
.blured-color
  color #888888

@media print
  span.s1 { font-size: 42px; }
  span.s2 { font-size: 36px; }
  span.s3 { font-size: 30px; }
  span.s4 { font-size: 24px; }
  span.s5 { font-size: 20px; }
  span.s6 { font-size: 18px; }
  span.s7 { font-size: 16px; }
  span.s8 { font-size: 14px; }
  span.s9 { font-size: 12px; }

.uppercase
  text-transform uppercase

.light-font
  font-weight 100