template(name="productManagementBasicImportDetails")
  if detailEditingMode
    +productManagementDetailEditor detailEditingData
  else
    tr.detail-row.edit-detail.click-enable
      td.has-commands
        span
        .commands
          if allowDelete
            .lemon.rounded.tiny.btn.blue.delete-basicDetail: span.icon-minus-4
      td {{expireDate}}
      td {{formatNumber unitQuality}}
      td {{unitName}}
      td.number {{formatNumber conversionQuality}}
      td.number {{formatNumber importPrice}}
      td.number {{formatNumber totalPrice}}

  if isShowDisableMode
    each saleDetails
      tr.detail-row
        td.first-column
         span.icon-forward-3 {{buyerName}}
        td {{momentFormat version.createdAt "DD/MM/YYYY"}}
        td {{unitQuality}}
        td {{unitName}}
        td.number {{conversionQuality}}
        td.number {{formatNumber unitPrice}}
        td.number {{formatNumber finalPrice}}
