template(name="productManagementImportDetails")
  tr.header-row
    td(colspan="7")
      | .
      .bill-header <b>{{momentCalendar version.createdAt}}</b> {{description}}
  each importDetails
    tr.detail-row
      td.first-column {{distributorName}}
      td {{expireDate}}
      td {{formatNumber unitQuality}}
      td {{unitName}}
      td.number {{conversionQuality}}
      td.number {{formatNumber unitPrice}}
      td.number {{formatNumber totalPrice}}

    if isShowDisableMode
      each saleDetails
        tr.detail-row
          td.first-column
           span.icon-forward-3 {{buyerName}}
          td {{momentFormat version.createdAt "DD/MM/YYYY"}}
          td {{unitQuality}}
          td {{unitName}}
          td.number {{conversionQuality}}
          td.number {{formatNumber unitPrice}}
          td.number {{formatNumber finalPrice}}