template(name="productManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption
        input.editable.dashed(name="productName" value="{{name}}" maxlength="50")
        if skulls
          span.blured-color ({{skulls}})
      .sub1: input.editable.dashed(name="productPrice" value="{{price}}" maxlength="20" style="width: 125px")
      .sub2: span.blured-color Giá nhập cuối: {{formatNumber importPrice}} vnđ - Giá trung bình: {{formatNumber averagePrice}} vnđ
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncProductEdit
    .panel-body
      .option-row
        .caption tada
        .commands commands
    .panel-footer
      span.icon-angle-right