template(name="productManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption
        input.editable(name="productName" value="{{name}}" maxlength="50")
        if skulls
          span.blured-color ({{skulls}})
      .sub1: input.editable(name="productPrice" value="{{price}}" maxlength="20" size="15" placeholder="giá bán")
      .sub2: input.editable(name="productAddress" value="{{address}}" maxlength="100" size="50" placeholder="địa chỉ")
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncProductEdit
    .panel-footer
      span.icon-angle-right