template(name="productManagementOverviewSection")
  .section.top.panel.panel-default
    input.hidden.avatarFile(type="file")
    .panel-heading
      +avatarImageComponent(avatar=avatarUrl alias=name)
      .caption
        input.editable.dashed(name="productName" value="{{name}}" maxlength="50")
        if basicUnit
          span.blured-color ({{basicUnit}})
      .sub1: input.editable.dashed(name="productPrice" value="{{price}}" maxlength="20" style="width: 125px")
      .sub2: span.blured-color Giá nhập cuối: {{formatNumber importPrice}} vnđ - Giá trung bình: {{formatNumber averagePrice}} vnđ
      .commands
        if showCreateUnitMode
          .lemon.btn.rounded.lime.icon-flow-merge.createUnit
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncProductEdit
        if showDeleteCommand
          .lemon.btn.rounded.red.icon-minus-4.productDelete
    if hasUnit
      .panel-body
        table.lemon-grid
          tr.table-header
            th(style="width:auto") ĐƠN VỊ TÍNH
            th(style="width:200px") MÃ VẠCH
            th(style="width:100px") QUI ĐỔI
            th.number(style="width:150px") GIÁ BÁN
          each productUnits
            if unitEditingMode
              +productManagementUnitEditor unitEditingData
            else
              tr.detail-row.edit-unit.click-enable
                td.has-commands
                  span {{unit}}
                  .commands
                    if allowDelete
                      .lemon.rounded.tiny.btn.blue.delete-unit: span.icon-minus-4
                    if basicDetailModeEnabled
                      .lemon.rounded.tiny.btn.lime.add-basicDetail: span.icon-plus-6
                td {{productCode}}
                td {{formatNumber conversionQuality}}
                td.number {{formatNumber price}} VNĐ

    .panel-footer
      span.icon-angle-right