template(name="productManagementDetailEditor")
  tr.editors.dual-border
    td.has-commands
      |{{unitName}}
      .commands
        if allowDelete
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.delete-basicDetail: span.icon-minus-4
    td: input(name='expireDate' type="text" size="10" placeholder="hạn sử dụng")
    td {{conversionQuality}}
    td: input(name="unitQuality" placeholder="số lượng")
    td.number {{formatNumber importPrice}}