template(name="distributorReturnDetailSection")
   .section.top.panel.panel-default.printable-area
      .panel-heading
         .hide-on-print
            span <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>
         .show-on-print
            +merchantPrintingHeader
            .printing-info
               .document-name PHIẾU TRẢ HÀNG

      .panel-body
         table.lemon-grid
            tr.table-header
               th.bill-name(style="width:auto") SẢN PHẨM
               th.price(style="width:100px") ĐƠN GIÁ
               th.quality(style="width:50px") SL
               th.skull(style="width:90px") ĐƠN VỊ
               th.number.final-price(style="width:120px") THÀNH TIỀN
            each returnDetails
               if editingMode
                  +distributorReturnDetailEditor editingData
               else
                  tr.detail-row.large-name: td(colspan="3")
                     span {{productName product}}
                     //if product.basicUnit
                     //   span ({{product.basicUnit}})
                     if discountPercent
                        span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%
                  tr.detail-row.click-enable(class="{{crossReturnAvailableQuality.errorClass}}")
                     td.bill-name.has-commands
                      |{{productName product}}
                      .commands
                        .lemon.rounded.tiny.btn.blue.deleteReturnDetail: span.icon-minus-4
                     td.price.editable-field {{formatNumber unitReturnsPrice}}
                     td.quality.editable-field.error-field
                        span
                           |{{formatNumber unitReturnQuality}}
                           if crossReturnAvailableQuality.invalid
                              span.super.s7.color-lime {{crossReturnAvailableQuality.crossAvailable}}
                     td.skull {{unitName}}
                     td.final-price.number <b>{{formatNumber finalPrice}}</b>

      .panel-footer
         input.editable.dashed.note(name="returnComment"  value="{{returnComment}}" placeholder="ghi chú đơn hàng" size="40" maxlength="120")
         .right-float
            span.s3 <b>{{formatNumber debtBalanceChange}}</b> VNĐ