template(name="distributorReturnDetailEditor")
  tr.detail-row.large-name: td(colspan="3")
    span {{productName product}}
    //if product.basicUnit
    //  span ({{product.basicUnit}})
    if discountPercent
      span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%
  tr.editors.dual-border(class="{{crossReturnAvailableQuality.errorClass}}")
    td.bill-name.has-commands
     |{{productName product}}
     .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteReturnDetail: span.icon-minus-4
    td.price: input(name="editPrice" min="0")
    td.quality: input.error-field(name="editQuality" min="0")
    td(align="center").skull.note {{unitName}}
    td.final-price.note.number <b>{{formatNumber finalPrice}}</b>