template(name="saleDetailEditor")
   tr.editors.dual-border(class="{{crossBillAvailableQuality.errorClass}}")
      td.note.has-commands
       |{{product.name}}
       .commands
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteOrderDetail: span.icon-minus-4
      td.note {{product.skulls}}
      td.number: input.error-field(name="editQuality" min="0")
      td.number: input(name="editPrice" min="0")
      td.number: input(name="editDiscountCash" min="0")
      td.note.number <b>{{formatNumber finalPrice}}</b>

