template(name="saleDetailEditor")
   tr.editors.dual-border(class="{{crossBillAvailableQuality.errorClass}}")
      td.large-name.note.has-commands
       |{{product.name}}
       .commands
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteOrderDetail: span.icon-minus-4
      td.quality: input.error-field(name="editQuality" min="0")
      td.skull.note {{product.skulls}}
      td.price.number: input(name="editPrice" min="0")
      td.bill-discount.number: input(name="editDiscountCash" min="0")
      td.final-price.note.number <b>{{formatNumber finalPrice}}</b>