template(name="saleDetailSection")
   .section.top.panel.panel-default.printable-area
      .panel-heading
         .hide-on-print
            span <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>
         .show-on-print
            +merchantPrintingHeader
            .bill-info
              .seller-info NGƯỜI BÁN: {{sellerName}}
            .printing-info
              .document-name
                span PHIẾU BÁN HÀNG <br />
                span.s4 {{buyerName}}

      .panel-body
         //+gridComponent(options=saleDetailOptions wrapperClass="detail-grid row" animation="bounceInDown")
         table.lemon-grid
            tr.table-header
               th.bill-name(style="width:auto") SẢN PHẨM
               th.price(style="width:100px") ĐƠN GIÁ
               th.quality(style="width:50px") SL
               th.skull(style="width:90px") ĐƠN VỊ
               th.number.bill-discount(style="width:100px") GIẢM GIÁ
               th.number.final-price(style="width:120px") THÀNH TIỀN
            each orderDetails
               if editingMode
                  +saleDetailEditor editingData
               else
                  tr.detail-row.large-name: td(colspan="3")
                     span {{product.name}}
                     //if product.basicUnit
                     //   span ({{product.basicUnit}})
                     if discountPercent
                        span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%
                  tr.detail-row.click-enable(class="{{crossBillAvailableQuality.errorClass}}")
                     td.bill-name.has-commands
                      |{{product.name}}
                      .commands
                        .lemon.rounded.tiny.btn.blue.deleteOrderDetail: span.icon-minus-4
                     td.price.editable-field {{formatNumber unitPrice}}
                     td.quality.editable-field.error-field
                        span
                           |{{formatNumber unitQuality}}
                           if crossBillAvailableQuality.invalid
                              span.super.s7.color-lime {{crossBillAvailableQuality.crossAvailable}}
                     td.skull {{unitName}}
                     td.bill-discount.editable-field.number
                        span {{formatNumber discountCash}}
                        if discountPercent
                           span.super.s7.color-lime -{{round discountPercent}}%
                     td.final-price.number <b>{{formatNumber finalPrice}}</b>
            tr
               td
                  input.editable.dashed.note(value="{{order.description}}" placeholder="ghi chú đơn hàng" size="40" maxlength="120")
               td
               td
               td.number: span.s5 T.PHIẾU:
               td.number(colspan="2"): span.s4 <b>{{formatNumber order.finalPrice}}</b> VNĐ
            tr
               td
               td
               td
               td.number: span.s5 ĐÃ TRẢ :
               td.number(colspan="2"): span.s4 <b>{{formatNumber order.deposit}}</b> VNĐ
            tr
               td
               td
               td
               td.number: span.s5 NỢ CŨ :
               td.number(colspan="2"): span.s4 <b>{{formatNumber customerDebt}}</b> VNĐ
            tr
               td
               td
               td
               td.number: span.s5 NỢ CÒN :
               td.number(colspan="2" style="border-top: solid 1px #d7d7d7")
                  span.s4 <b>{{formatNumber customerFinalDebt}}</b> VNĐ

      .panel-footer
