template(name="saleDetailEditor")
   tr.editors.dual-border
      td {{product.name}}
      td {{product.skulls}}
      td.number: input(name="quality" value="{{quality}}")
      td.number: input(name="price" value="{{price}}")
      td.number: input(name="discount" value="{{discountCash}}")
      td.number
         span <b>{{formatNumber finalPrice}}</b>
         if discountPercent
            span.s7 {{discountPercent}}%
