template(name="saleDetailEditor")
   tr.editors.dual-border(class="{{crossBillAvailableQuality.errorClass}}")
      td.note.has-commands
       |{{product.name}}
       .commands
          .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteOrderDetail: span.icon-minus-4
      td.note {{product.skulls}}
      td.number: input.error-field(name="quality" value="{{quality}}" min="0")
      td.number: input(name="price" value="{{price}}" min="0")
      td.number: input(name="discountCash" value="{{discountCash}}" min="0")
      td.note.number <b>{{formatNumber finalPrice}}</b>

