template(name="saleDetailSection")
   .section.top.panel.panel-default.printable-area
      .panel-heading.printing-header
         span.pull-right <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b><br/>
      .panel-body
         //+gridComponent(options=saleDetailOptions wrapperClass="detail-grid row" animation="bounceInDown")
         table.lemon-grid
            tr
               th(style="width:auto") SẢN PHẨM
               th(style="width:50px") SL
               th(style="width:90px") QUI CÁCH
               th.number(style="width:100px") ĐƠN GIÁ
               th.number(style="width:80px") GIẢM GIÁ
               th.number(style="width:120px") THÀNH TIỀN
            each orderDetails
               if editingMode
                  +saleDetailEditor editingData
               else
                  tr.detail-row.click-enable(class="{{crossBillAvailableQuality.errorClass}}")
                     td.has-commands
                      |{{product.name}}
                      .commands
                        .lemon.rounded.tiny.btn.blue.deleteOrderDetail: span.icon-minus-4
                     td.editable-field.error-field
                        span {{formatNumber quality}}
                        if crossBillAvailableQuality.invalid
                           span.super.s7.color-lime {{crossBillAvailableQuality.crossAvailable}}
                     td {{product.skulls}}
                     td.editable-field.number {{formatNumber price}}
                     td.editable-field.number
                        span {{formatNumber discountCash}}
                        if discountPercent
                           span.super.s7.color-lime -{{round discountPercent}}%
                     td.number <b>{{formatNumber finalPrice}}</b>


      .panel-footer
         input.editable.dashed.note(value="{{order.description}}" placeholder="ghi chú đơn hàng" size="40" maxlength="120")
         .right-float
            span.s3 <b>{{formatNumber order.finalPrice}}</b> VNĐ