template(name="customerManagement")
  #content
    .dual-content
      .dual-detail-wrapper
        .dual-detail
      .dual-addon
        each managedCustomerList
          .group-wrapper
            .group.caption {{key}}
            each childs
              .inner.caption {{name}}