template(name="productManagementSalesHistorySection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

    .panel-body.debt-details
      table.lemon-grid.safe
        tr
          th(style="width:auto") NHÀ CUNG CẤP
          th(style="width:100px") HẠN/ GD
          th(style="width:70px") SL
          th(style="width:70px") ĐƠN VỊ
          th.number(style="width:50px") QUI ĐỔI
          th.number(style="width:100px") GIÁ NHẬP
          th.number(style="width:120px") TỔNG TIỀN

        if basicDetail.isShowDetail
          tr.header-row
            td.has-commands(colspan="7")
              | .
              .bill-header <b>Tồn kho đầu kỳ</b>
              .commands
                if isShowDisableMode
                  .lemon.rounded.tiny.btn.lime.basicDetailModeDisable.icon-ok-6

          each basicDetail.detail
            +productManagementBasicImportDetails this

          if basicDetailModeEnabled
            each allSaleDetails
              tr.detail-row
                td.first-column
                  span.icon-forward-3 {{buyerName}}
                td {{momentFormat version.createdAt "DD/MM/YYYY"}}
                td {{unitSaleQuality}}
                td {{unitName}}
                td.number {{conversionQuality}}
                td.number {{formatNumber unitPrice}}
                td.number {{formatNumber finalPrice}}

        if newImport.isShowDetail
          each newImport.detail
            +productManagementImportDetails this

    .panel-footer
      if basicDetailModeEnabled
        .right-float
          span.s5.note <b>TỔNG BÁN</b>/ TỔNG NHẬP:
          span.s3 <b>{{formatNumber salesQuality}}</b>
          span.s5 /{{formatNumber totalQuality}} <b>{{basicUnit}}</b>

      else
        .right-float
          span.s5.note <b>TỔNG TỒN</b>/ TỔNG NHẬP:
          span.s3 <b>{{formatNumber inStockQuality}}</b>
          span.s5 /{{formatNumber totalQuality}} <b>{{basicUnit}}</b>
