template(name="transactionManagerDetail")
  aside.modal.swipe.left#transactionManagerDetail
    .modal-dialog.sale-bill-preview
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title
          i.icon-search-8
          span CHI TIẾT CÔNG NỢ
      .modal-body.printable-area
        span {{groupType transaction.group}} ({{formatDate transaction.debtDate}})<br/>
        span Nhân viên: {{userNameFromId transaction.creator}} <br/>
        span Khách Hàng: {{ownerNameFromId transaction.owner}} <br/>
        span Tình trạng: {{status}} (đã trả {{countDetail}} lần) <br/>
        span Lý do: {{transaction.description}}<br/>

        ul
          each transactionDetail
            li.order-detail
              .product-name <b>{{formatDate paymentDate}}</b> (bởi: <b>{{userNameFromId creator}} </b>)
              .product-price
                span.individual-price Đã trả: {{formatNumber depositCash}}
                span.final-price Nợ còn: {{formatNumber debitCash}}

        .bill-summary
          .editor-row
            span Tỗng tiền:
            span.bill-final <b>{{formatNumber transaction.totalCash}}</b> VNĐ
          .editor-row
            span Đã trả:
            span.bill-final <b>{{formatNumber transaction.depositCash}}</b> VNĐ

        .bill-footer
          span Còn nợ:
          span.bill-final <b>{{formatNumber transaction.debitCash}}</b> VNĐ
      .modal-footer
        if showDeleteTransaction
          button.lemon.btn.pumpkin.icon-minus-circled.deleteTransaction(data-dismiss="modal") Xóa Phiếu

        if allowAddDetail
          if showAddDetail
            button.lemon.btn.lime.icon-plus-circled.showTransactionDetail Thêm Trả Tiền

          .editor-row(style="{{createTransactionDetail}}")
            .editor-wrapper(style="width:150px")
              span.ilabel tiền trả
              +iSpinEdit(options=depositCashOptions  class="field")
            .editor-wrapper(style="width: 90px")
              span.ilabel ngày trả
              input.createDebtDate(name="createDebtDate" binding="datePicker" todayHighlight="true" maxlength="20")
            .editor-wrapper
              button.lemon.btn.lime.icon-plus-circled.createTransactionDetail(type='submit') Thêm
            .editor-wrapper
              button.lemon.btn.pumpkin.cancelCreateTransactionDetail(type='submit') Hủy
