template(name="transactionThumbnail")
  .col
    .thumbnails(class="{{styles}}")
      .right-caption {{ownerName}}
      +avatarImageComponent(avatar=avatarUrl alias=ownerName)
      .horizontal-meter
        .meter-wrapper: .meter-progress(style="height: {{meterStyle.percent}}%; background-color: {{meterStyle.color}}")
      .short-desc.quality {{daysFromNow}}
      .full-desc.price {{formatNumber debitCash}} <small>VNĐ</small>
      .single-price {{formatNumber totalCash}} VNĐ