body { margin: 0 }
* { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif, Arial }
input[type="text"]:focus, input[type="password"]:focus { outline: none !important; }
a:hover { cursor: pointer; text-decoration: none !important; }

body.no-text *
  color transparent !important
body.edit *
  background rgba(0,0,0,0.05) !important

.tour-step-background
  border-radius 2px
  opacity 0.2

.popover.tour-tour
  max-width 350px
  .popover-content
    text-align justify

.notifyjs-bootstrap-base
  border-radius 2px

.nano-content
  outline none