template(name="merchantHomeRemake")
  #content.modern
    .dual-content
      .dual-detail-wrapper
        .dual-detail.metro: .merchant-metro-wrapper
          .tile-group-6
            .tile
            .tile
            .tile
            .tile
            .tile
            .tile
            .tile
            .tile
            .tile
            .tile

      .dual-addon
        .home-separator-line.icon-up-open-2
        .home-eds-text THIEN BAN
        .home-separator-logo

        span addons

  #footer.modern
    .editor-row
      .editor-wrapper.dual-spacer