template(name="merchantAccountOptions")
  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-contacts Hồ sơ
      .commands
        if showEditCommand
          .lemon.btn.rounded.lime.icon-ok-6.syncAccountProfileEdit
    .panel-body
      .collapsible-row
        .description Họ tên
        input.input-field.accountProfileOption(name="fullName" value="{{profile.fullName}}")
      .collapsible-row
        .description Giới tính
        .input-field {{genderString gender}}
        .commands
          input.accountProfileOption(binding="switch" type="checkbox" name="gender")
      .collapsible-row
        .description Sinh nhật
        input.input-field.accountProfileOption(name="dateOfBirth" binding="datePicker" todayHighlight="true" maxlength="20" tabindex="4")
      .collapsible-row
        .description Địa chỉ hiện tại
        input.input-field.accountProfileOption(name="address" value="{{profile.address}}" placeholder="chưa cập nhật")
      .collapsible-row
        .description Địa chỉ Email
        input.input-field.accountProfileOption(name="emailAccount" value="{{profile.email}}" placeholder="chưa cập nhật")
      .collapsible-row
        .description Địa chỉ Skype
        input.input-field.accountProfileOption(name="im" value="{{profile.im}}" placeholder="chưa cập nhật")


  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-key-outline Đổi mật khẩu
      .commands
        if showChangePasswordCommand
          .lemon.btn.rounded.lime.icon-ok-6.changeAccountProfilePassword
    .panel-body
      .collapsible-row
        .description Mật khẩu hiện tại
        input.input-field.accountChangePassword(name="oldPassword" type="password" maxlength="40" placeholder="nhập mật khẩu hiện tại")
      .collapsible-row
        .description Mật khẩu mới
        input.input-field.accountChangePassword(name="newPassword" type="password" maxlength="40" placeholder="nhập mật khẩu mới")
      .collapsible-row
        .description Xác nhận mật khẩu
        input.input-field.accountChangePassword(name="confirmPassword" type="password" maxlength="40" placeholder="nhập lại mật khẩu mới")
