template(name="merchantNoteOptions")
  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-contacts Ghi chú mặc định Khách Hàng
    .panel-body
      .collapsible-row
        .description Ghi chú thu
        input.input-field(placeholder="để trống")
      .collapsible-row
        .description Ghi chú chi
        input.input-field(placeholder="để trống")
      .collapsible-row
        .description Ghi chú đơn hàng
        input.input-field(placeholder="để trống")

  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-anchor-outline Ghi chú mặc định Nhà Cung Cấp
    .panel-body
      .collapsible-row
        .description Ghi chú thu
        input.input-field(placeholder="để trống")
      .collapsible-row
        .description Ghi chú chi
        input.input-field(placeholder="để trống")
      .collapsible-row
        .description Ghi chú nhập kho
        input.input-field(placeholder="để trống")