template(name="merchantAccountOptions")
  .section.top.panel.panel-default.printable-area
    .panel-heading.collapsible-caption
      span.icon-key-outline Đổi mật khẩu
    .panel-body
      .collapsibe-row
        .description Mật khẩu hiện tại
        input.input-field(placeholder="nhập mật khẩu hiện tại")
      .collapsibe-row
        .description Mật khẩu mới
        input.input-field(placeholder="nhập mật khẩu mới")
      .collapsibe-row
        .description Xác nhận mật khẩu
        input.input-field(placeholder="nhập lại mật khẩu mới")
      .collapsibe-row
        span XÁC NHẬN
