template(name="merchantPrintDesigner")
  .section.top.panel.panel-default.printable-area
    .panel-heading
      .printing-header
        .rounded-location: .rounded-wrapper
          img(src="/images/white-pixel.jpg")
          .rounded-icon.icon-location-outline
        .rounded-phone: .rounded-wrapper
          img(src="/images/white-pixel.jpg")
          .rounded-icon.icon-phone-circled
        .branding
          .company-name {{merchantInfo.companyName}}
          .company-address {{merchantInfo.contactAddress}}
        .info
          .document-time <b>{{timeHM}}<sup>{{timeS}}</sup></b>, ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b>
          .company-phone {{merchantInfo.contactPhone}} <br/>
      .printing-info
        .document-name PHIẾU BÁN HÀNG
    .panel-body.printing-content
      .empty-dashed-line nội dung bản in
      each bodySpaceIterator
        .empty-dashed-line
    .panel-footer.printing-footer
      h1 footer