template(name="merchantLanguageOptions")
  .section.top.panel.panel-default.options-section.multiple-selection-section
    .panel-heading
      span.icon-location-1 Ngôn ngữ
    .panel-body
      .collapsible-row
        .description TIẾNG ANH
      .collapsible-row
        .description TIẾNG VIỆT
        .commands
          .icon-ok-6