@import "../../../../styles/lib.import.styl"

nav.main
  background-color #fff
  min-height 40px
  border none
  border-bottom solid nav-bottom-border-size navigation-alternative-color
  z-index 999

  .branding
    width sidebar-size
    background-color lighten(sidebar-background-color, 3)
    position relative
    float right
    height 40px
    text-align center

    if sidebar-border-size > 0
      border-left solid sidebar-border-size sidebar-border-color

    .logo
      margin 11px 0
      font-weight bold
      color #FF5C00
      font-size 16px
      display block

    .version
      absolute right 5px top 2px
      color #ffffff
      font-size 8px
      font-weight bolder

    .navbar-form
      margin-top 10px
      input[type="text"]
        width: 235px;
        height: 25px;
        placeholder(#dedede)
        border-radius 0

  .navbar-header
    width sidebar-size

  .notifications
    margin-right 0
    > li
      border-left solid 1px #F0F0F0
      border-right none
      i { font-size: 15px; }

  li
    border-right solid 1px #F0F0F0

    &.home a
      font-size 20px; padding 10px 10px

    a { color: #696969; padding: 10px 15px; }
    a:hover
      background-color #f2f2f2 !important

    &.active
      &:after
        content: ''
        background-color: #f0f0f0
        width: 6px; height: 6px
        top: 16px;
        transform rotate(45deg)
      a
        background-color navigation-alternative-color
        &:hover
          background-color #f0f0f0 !important

    &.inav
      cursor pointer
      span
        color #888888
        line-height 39px
        padding 12px 15px

      .notification-counts
        pointer-events none
        absolute right 10px top 2px
        font-size 11px
        padding 0 3px
        height 17px; line-height 15px
        text-align center
        border-radius 3px
        background-color #F35112
        border solid 1px #ECECEC
        color #ffffff
        z-index 10
        visibility hidden
        font-weight bold

        &.active
          visibility visible

ul.iconic
  margin-left 6px

nav.secondary
  margin-left sidebar-size
  margin-top 51px
  background-color #149FBE
  z-index 998