@import "../../../../styles/lib.import.styl"

default-navigation-color = #ffffff
nav.main
  background-color #fff
  height navigation-height
  border none
  border-bottom solid navigation-bottom-border-size #d7d7d7
  z-index 999

  for $color in colors
    &.{$color[0]}
      background-color $color[1]
      if lightness($color[1]) > 90
        .inav, .inav:before, .app-name
          color #888888
      else
        background linear-gradient(top, $color[1], darken($color[1], 3))

  .branding
    width sidebar-size
    background-color lighten(sidebar-background-color, 3)
    position relative
    float right
    height navigation-height
    text-align center

    if sidebar-border-size > 0
      border-left solid sidebar-border-size sidebar-border-color

    .logo
      margin 11px 0
      font-weight bold
      color #FF5C00
      font-size 16px
      display block

    .version
      absolute right 5px top 2px
      color #ffffff
      font-size 8px
      font-weight bolder

    .navbar-form
      margin-top 10px
      input[type="text"]
        width: 235px;
        height: 25px;
        placeholder(#dedede)
        border-radius 0

  .notifications
    margin-right 50px
    > li
      i { font-size: 15px; }

  li
    /*border-right solid 1px #F0F0F0*/
    &.inav
      cursor pointer
      position relative
      height navigation-height
      padding 0 12px
      color default-navigation-color; font-weight lighter
      &.blue, &.blue:before
        color blue
      &.ocean, &.ocean:before
        color nephritis
      &:before
        margin-top 33px
        color default-navigation-color

      .dropdown-toggle
        absolute top 0 left 0
        height navigation-height
        width 43px
      span
        color default-navigation-color
        line-height 39px
        padding 12px 15px

      .notification-counts
        pointer-events none
        absolute right 6px top 22px
        font-size 11px
        padding 0 3px
        height 17px; line-height 15px
        text-align center
        border-radius 3px
        background-color #F35112
        border solid 1px #ECECEC
        color #ffffff
        z-index 10
        visibility hidden
        font-weight bold

        &.active
          visibility visible

    &.home
      font-size 20px
      padding-left 0
      &:before
        margin-top 28px
        color #e4e4e4

    &.teleport
      font-size 14px
      &:before
        color #eeeeee !important
        font-size 12px
        margin-top 35px
        margin-right 7px

    &.app-name
      position relative
      width dual-left-width; min-height 60px
      padding 24px 10px 7px 10px
      font-size 20px; font-weight lighter; color default-navigation-color
      border-right solid 1px #E4E4E4
      text-align right
      #logoutButton
        absolute left 9px bottom 10px
        font-size 14px

    a { color: #696969; padding: 10px 15px; }
    a:hover
      background-color #f2f2f2 !important

    &.active
      &:after
        content: ''
        background-color: #f0f0f0
        width: 6px; height: 6px
        top: 16px;
        transform rotate(45deg)
      a
        background-color navigation-alternative-color
        &:hover
          background-color #f0f0f0 !important