template(name="navigation")
  nav(role="navigation").navbar.main.navbar-fixed-top
    .wrapper
      a.branding
        span.logo EDS
        span.version {{systemVersion}}

      ul.nav.navbar-nav.navbar-right.notifications
        if tourVisible
          li.inav
            span.tour-toggle: i.icon-light-up
        li.inav
          +messageNotifications
          .notification-counts(class="{{activeClassByCount unreadMessageCount}}") {{unreadMessageCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.icon-chat-6
        li.inav
          +notificationDetails
          .notification-counts(class="{{activeClassByCount unreadNotifiesCount}}") {{unreadNotifiesCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.icon-globe-6
        li.inav
          +requestDetails
          .notification-counts(class="{{activeClassByCount unreadRequestCount}}") {{unreadRequestCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.icon-share-3
        li.inav.collapse-toggle: span: i(class="{{collapseClass}}")

      ul.nav.navbar-nav
        li.inav: span#logoutButton: i.icon-off-1
        li.home(class="{{isActiveRoute regex='merchantHome'}}"): a(href="{{pathFor 'merchantHome'}}"): i.icon-home-4
        //li.inav(class="{{isActiveRoute regex='taskManager'}}")
          a(href="{{pathFor 'taskManager'}}"): i.icon-clipboard-2
        each subMenus
          li.inav(class="{{isActiveRoute regex=route}}")
            a(href="{{pathFor route}}"): i.fa(class="{{icon}}")