template(name="customerThumbnail")
  .col
    input.hidden.avatarFile(type="file")
    .thumbnails.click-enable(class="{{styles}}")
      //.left-caption {{dateOfBirth}}
      .right-caption {{name}}
      .full-desc.price {{phone}}
      +avatarImageComponent(avatar=avatarUrl alias=name instance=this)
      .single-price {{address}}
      .short-desc.quality {{gender}}
      if allowDelete
        .trash: i.icon-bag