template(name="salesReport")
  #header
    .caption-row
      .title BÁO CÁO TỔNG QUAN

  #content
    #month-chart: svg
    #year-chart: svg

  #footer.gray
    ul.step-filter
      li: span.icon-emo-shoot
      li: span.icon-cog
      li: span.icon-cw-5
      li: span.icon-location-7