template(name="navigation")
  nav(role="navigation" class="{{appInfo.color}}").navbar.main.navbar-fixed-top
    .wrapper
      a.branding
        span.logo EDS
        span.version {{systemVersion}}

      ul.nav.navbar-nav.navbar-right.notifications
        if tourVisible
          li.inav.icon-light-up.tour-toggle
        li.inav.icon-chat-6
          +messageNotifications
          .notification-counts(class="{{activeClassByCount unreadMessageCount}}") {{unreadMessageCount}}
          span.dropdown-toggle(data-toggle="dropdown")
        li.inav.icon-globe-6
          +notificationDetails
          .notification-counts(class="{{activeClassByCount unreadNotifiesCount}}") {{unreadNotifiesCount}}
          span.dropdown-toggle(data-toggle="dropdown")
        li.inav.icon-share-3
          +requestDetails
          .notification-counts(class="{{activeClassByCount unreadRequestCount}}") {{unreadRequestCount}}
          span.dropdown-toggle(data-toggle="dropdown")

      ul.nav.navbar-nav
        li.app-name
          |{{currentAppInfo.name}}
          span.click-enable.icon-off-1#logoutButton
        if isntMerchantHome
          li.blue.inav.home.icon-left-open-big.animated.fadeInRight trở về
        //li.inav.icon-home-4(class="{{isActiveRoute regex='merchantHome'}}"): a(href="{{pathFor 'merchantHome'}}")
        //li.inav(class="{{isActiveRoute regex='taskManager'}}")
          a(href="{{pathFor 'taskManager'}}"): i.icon-clipboard-2
        if navigationPartial
          +UI.dynamic(template=navigationPartial.template data=navigationPartial.data)
        each subMenus
          li.inav(class="{{isActiveRoute regex=route}}")
            a(href="{{pathFor route}}"): i.fa(class="{{icon}}")