@import "../../../../styles/lib.import.styl"

.animated-bg
  min-height 500px
  clearfix()
  background-color #54c8eb
  transition background-color 15s

#homeContent
  .home-video-section
    margin-top 10px
    margin-bottom 10px
    .main-left
      color #ffffff
      float left
      padding 0 0 0 10px
      width 56.5%
      .title
        font-size 40px
      p
        font-size 30px
        font-weight lighter
      .youtube-wrapper
        width 558px; height 317px
        border solid 4px #FFF
        background-color #ffffff
        border-radius 2px
    .main-right
      float right
      margin-right 10px
      .caption
        margin-left 15px
        font-size 10px
        color #ffffff
      .login-section
        margin-top 4px
        clearfix()

        input
          float left
          border none
          color #6D6D6D
          padding 8px 10px
          margin-right 1px
          font-size 14px
          width 140px
          margin-bottom 10px
          transition box-shadow 0.5s
          placeholder #8D8D8D
          &:focus
            box-shadow 0px 0px 0px 2px rgba(0, 0, 0, 0.1)
          &#authSecret
            width 103px
            border-radius right 2px
          &#authAlias
            border-radius left 2px

        .btn
          float right
          color #fff
          background-color transparent
          padding 5px 7px; margin-right 2px
          font-size 17px
          border-radius 2px
          border solid 1px #ffffff
          transition text-shadow 1s, box-shadow 1s
          &.valid
            box-shadow 0 0 10px
          &.invalid
            pointer-events none
          &:active, &.valid:hover, &:focus
            background rgba(255, 255, 255, .3)
            outline none


      .registeration-section
        float left

        .lemon-field, .lemon-field.group
          width 365px
        .lemon-field
          .ilabel
            background-color #fff
            color #696969
          input
            font-size 14px
            color #585858; background #fff
            padding 8px 16px 8px 14px
            /*border solid 1px #9B9B9B*/
            border-radius 2px
            placeholder #8D8D8D
          &:last-child
            margin-bottom 5px

        input.secret-field
          color lime
          &.invalid
            color pumpkin
        .accept-terms
          width 100%
          text-align justify
          color #ffffff

        #secretConfirm, #companyPhone
          margin-left 1px

        .btn
          transition text-shadow 1s, box-shadow 1s
          color #fff; background transparent
          margin-left 15px; float left
          padding 4px 12px
          border-radius 2px
          border 1px solid #fff
          font-size 25px
          &:hover, &.reading
            background rgba(255, 255, 255, .3)
          &.valid
            box-shadow 0 0 10px
          &.invalid
            pointer-events none

    .slider
      /*background-color home-theme*/
      min-height 250px

      .slider-eds
        color #fff
        background-color rgba(0, 0, 0, 0.6)
        padding 0 20px
        font-size 30px
        font-weight lighter
        border-radius 5px

      .slider-planet
        width 530px
        height 530px
        border-radius 50%
        background-color #fff

      .slider-screen-shot
        border-radius 5px
      .slider-rounded-shot
        border-radius 50%


  .home-after-video-section
    height 250px

  .home-before-footer-section
    height 391px