template(name="partnerManagementNewHistoryDetails")
  tr.header-row: td(colspan="5")
    | &nbsp;
    .bill-header <b>{{momentFormat version.createdAt 'DD/MM/YYYY'}}</b>
    .commands
      .lemon.rounded.tiny.btn.red.deleteHistory.icon-minus-4
      if showSubmitHistory
        .lemon.rounded.tiny.btn.lime.submitHistory.icon-ok-6

  each newHistoryDetails
    tr.detail-row
      td.first-column {{buildInProductName}}
      td.number {{quality}}
      td(align="center") {{buildInProductUnitName}}
      td.number {{formatNumber importPrice}}
      td.last-column.number {{formatNumber totalPrice}}

  tr.detail-row.summary-row
    td
    td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber debtBalanceChange}}</b>