template(name="partnerManagementOldHistoryDetails")
  if isTransaction
    tr.paid-row.top(class="{{receivableClass}}")
      td.has-commands
        span.note {{momentCalendar debtDate}}, {{description}}
      td.number(colspan="3")
        span.icon-feather-1(class="{{finalReceivableClass}}")
        span.s4(class="{{finalReceivableClass}}") <b>{{formatNumber latestDebtBalance}}</b>
      td.number: span(class="{{receivableClass}}") <b>{{formatNumber debtBalanceChange}}</b>

  else
    tr.header-row: td(colspan="5")
      | &nbsp;
      .bill-header <b>{{momentFormat version.createdAt 'DD/MM/YYYY'}} - {{bill}}.</b> {{description}}
      .commands
        if isCustomImportModeEnabled
          .lemon.rounded.red.btn.animated.bounceIn.deleteCustomImport: span.icon-minus-4

    each oldHistoryDetails
      tr.detail-row
        td.first-column {{productName product}}
        td.number {{quality}}
        td(align="center") {{unitName}}
        td.number {{formatNumber importPrice}}
        td.last-column.number {{formatNumber totalPrice}}

    tr.detail-row.summary-row
      td
      td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
      td.summary-total(align="right"): span.s5 <b>{{formatNumber debtBalanceChange}}</b>