template(name="partnerManagementPartnerHistorySection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid: tr
        th(style="width:auto") SẢN PHẨM
        th.number(style="width:80px") SL
        th(style="width:100px; text-align:center") ĐƠN VỊ
        th.number(style="width:120px") ĐƠN GIÁ
        th.number(style="width:175px") THÀNH TIỀN

    .panel-body.debt-details

      each oldHistoryPartner
        table.lemon-grid(class="{{safeClass}}")
          +partnerManagementImportHistoryHeader
          +partnerManagementOldHistoryDetails this

      table.lemon-grid.unSafe
        +partnerManagementImportHistoryHeader
        each newHistoryPartner
          +partnerManagementNewHistoryDetails this

        tr.group-summary-row
          td(colspan="3")
            input.new-transaction-partner-field(name='payDescription' type="text" size="10" placeholder="ghi chú")
          td.number
            input.new-transaction-partner-field(name='payAmount' type="text" size="10" placeholder="số tiền")
          td.number
            .lemon.btn.icon-money.carrot.transactionPaid TRẢ
            .lemon.btn.icon-money.lime.transactionReceive THU


    .panel-footer
      .right-float
        span.s5 TỔNG NỢ:
        span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ


template(name="partnerManagementImportHistoryHeader")
  tr
    th(style="width:auto")
    th(style="width:80px")
    th(style="width:100px")
    th(style="width:120px")
    th(style="width:182px")