@import "../../../../../styles/lib.import.styl"

#messenger
  background-color sidebar-background-color
  clearfix()
  width 100%

  .conversation-wrapper
    height 275px
  .input-wrapper input
    color #ffffff; background-color #121212
    placeholder #565656
    width 100%; border none
    padding 12px 6px

  .search-wrapper
    padding 1px 0