template(name="distributorManagementCustomImportDetails")
  tr.header-row: td(colspan="5")
    | .
    .bill-header <b>{{momentCalendar debtDate}}</b>
    .commands
      if isCustomImportModeEnabled
        .lemon.rounded.red.btn.animated.bounceIn.deleteCustomImport: span.icon-minus-4

  each customImportDetails
    tr.detail-row
      td.has-commands
        | {{productName}}
        .commands
          if isCustomImportModeEnabled
            .lemon.rounded.tiny.btn.red.deleteCustomImportDetail: span.icon-minus-4
      td {{formatNumber quality}}
      td {{skulls}}
      td.number {{formatNumber price}}
      td.number {{formatNumber finalPrice}}
  if isCustomImportDetailCreator
    +customerManagementCustomImportDetailCreator
  tr.detail-row.summary-row
    td.note {{description}}
    td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber latestDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber totalCash}}</b>

  each latestPaids
    tr.paid-row.top(class="{{receivableClass}}")
      td.has-commands
        span.note {{description}}, {{momentCalendar debtDate}}.
        .commands
          if isCustomImportModeEnabled
            .lemon.rounded.tiny.btn.red.deleteTransaction: span.icon-minus-4
      td.number(colspan="3")
        span.icon-feather-1
        span.s4(class="{{finalReceivableClass}}") <b>{{formatNumberAbs latestDebtBalance}}</b>
      td.number: span(class="{{receivableClass}}") <b>{{formatNumberAbs debtBalanceChange}}</b>


template(name="customerManagementCustomImportDetailCreator")
    tr.editors.animated.fadeIn
      td: input(name='productName' type="text" size="10" placeholder="tên sản phẩm")
      td: input(name='quality' type="text" size="10" placeholder="sl")
      td: input(name='skulls' type="text" size="10" placeholder="quy cách")
      td: input.number(name='price' type="text" size="10" placeholder="đơn giá")
      td: .lemon.btn.rounded.lime.pull-right.createCustomImportDetail.icon-plus-6