template(name="distributorManagementImportDetails")
  tr.header-row
    td(colspan="5")
      | .
      .bill-header <b>{{momentCalendar version.createdAt}}</b>
  each importDetails
    tr.detail-row
      td.first-column {{productName}}
      td {{formatNumber importQuality}}
      td {{skulls}}
      td.number {{formatNumber importPrice}}
      td.last-column.number {{formatNumber totalPrice}}
  tr.detail-row.summary-row
    td.note {{description}}
    td.number(colspan="3"): span.blured-color.icon-feather-1 <b>{{formatNumber totalDebtBalance}}</b>
    td.summary-total(align="right"): span.s5 <b>{{formatNumber debtBalanceChange}}</b>

  each latestPaids
    tr.paid-row.top(class="{{receivableClass}}")
      td: span.note {{description}}, {{momentCalendar debtDate}}.
      td.number(colspan="3")
        span.icon-feather-1
        span.s4(class="{{finalReceivableClass}}") <b>{{formatNumberAbs totalDebtBalance}}</b>
      td.number: span(class="{{receivableClass}}") <b>{{formatNumberAbs debtBalanceChange}}</b>