template(name="distributorManagementReturnDetailEditor")
  tr.editors.dual-border(class="{{crossReturnAvailableQuality.errorClass}}")
    td.has-commands
      |{{productName}}
      .commands
        .lemon.rounded.tiny.btn.red.deleteReturnDetail: span.icon-minus-4
    td: input(name="returnQuality" placeholder="số lượng trả")
    td {{unitName}}
    td: input(name="returnPrice" placeholder="giá trả" min="0")
    td.last-column.number {{formatNumber finalPrice}}