home-theme = #ffffff
sidebar-size = 220px //185px
sidebar-collapse-size = 0
sidebar-after-collapse-size = sidebar-size - sidebar-collapse-size

application-max-width = 1280px
application-min-width = 800px

navigation-alternative-color = #f0f0f0

navigation-height = 60px
navigation-bottom-border-size = 1px
navigation-top-margin = navigation-height - 25

sidebar-border-size = 3px
sidebar-border-color = #434c5b
sidebar-background-color = #201f24
sidebar-foreground-color = #dedede
caption-background-color = #171615

dual-left-width = 260px