template(name="transportHistoryThumbnail")
  .col
    .thumbnails(class="#{colorClass}")
      .right-caption {{creatorName creator}}
      .short-desc.quality {{status}}
      .single-price {{description}}
      .full-desc.price {{createDate}}

